@model IEnumerable<Domain.WebAPI.output.HiEasyRentAPI.WebAPIOutput_NPR330QueryData>

@{
    string IDNO = (ViewData["IDNO"] == null) ? "" : ViewData["IDNO"].ToString();

    int ResultLen = -1;
    List<Domain.WebAPI.output.HiEasyRentAPI.WebAPIOutput_NPR330QueryData> lstData = null;
    if (Model != null)
    {
        lstData = new List<Domain.WebAPI.output.HiEasyRentAPI.WebAPIOutput_NPR330QueryData>();
        lstData = Model.ToList();
        ResultLen = lstData.Count;
    }
    int Sum = 0;
}
<!--查詢介面-->
<div class="container mt-4">
    <!--card start-->
    <div class="card">
        <div class="card-header bg-secondary text-white">
            強制刷卡取款
        </div>
        @using (Html.BeginForm("AuthAndPay", "Manage", FormMethod.Post, new { id = "frmAuthAndPayQuery", @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            <ul class="list-group list-group-flush">
                <!--每一個li是一項查詢條件-->
                <li class="list-group-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-2">
                                會員帳號
                            </div>
                            <div class="col-md-3">
                                <input class="form-control" type="text" name="IDNO" id="IDNO" value="@IDNO" />
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3 offset-md-2">
                                <button type="submit" class="btn btn-primary">確認送出</button>
                                <input type="hidden" id="len" name="len" value="@ResultLen" />
                                <input type="hidden" id="Account" name="Account" value="@((Session["Account"] == null) ? "" : Session["Account"].ToString())" />
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        }
        </div>
    <!--end card-->
</div>
<!--查詢介面結束-->
<!--輸出表格-->
<div class="container mt-4">
    <table class="table bg-white" data-limit-navigation="5" id="mytable">
        <thead class="text-white bg-primary">
            <tr>
                <th data-sort="false">
                    <input type="checkbox" id="checkall" name="checkall" disabled />
                </th>
                <th scope="col">iRent合約編號</th>
                <th scope="col">合約編號</th>
                <th scope="col">類別</th>
                <th scope="col">備註</th>
                <th scope="col">應付金額</th>
                <th scope="col">已付金額</th>

            </tr>
        </thead>
        <tbody>

            @if (ResultLen == 0)
            {
                <tr>
                    <td colspan="7" class="text-center">
                        查無結果
                    </td>
                </tr>
            }
            else
            {
                for (int i = 0; i < ResultLen; i++)
                {
                    Sum += (Convert.ToInt32(lstData[i].DUEAMT) - Convert.ToInt32(lstData[i].PAIDAMT));
        <tr>
            <td data-sort="false">
                <input type="checkbox" id="chk_@(i)" name="chkPay" data-content="@Json.Encode(lstData[i])" checked disabled />
            </td>
            <td scope="col">@(lstData[i].IRENTORDNO)</td>
            <!--<td scope="col">@(lstData[i].ORDNO)</td>-->
            <!--20210225 ADD BY ADAM REASON.預約編號改合約編號-->
            <td scope="col">@(lstData[i].CNTRNO)</td>
            <td scope="col">@(lstData[i].SPAYMENTTYPE)</td>
            <td scope="col">@(lstData[i].POLNO)</td>
            <td scope="col">@(lstData[i].DUEAMT)</td>
            <td scope="col">@(lstData[i].PAIDAMT)</td>
        </tr>
                }

            }
        </tbody>
        <tfoot id="footer" name="footer">
            <tr>
                <td scope="col" colspan="5" class="text-center">此次刷卡金額<span name="totalBill" id="totalBill">@(Sum)</span>元</td>
                <td scope="col" colspan="2">
                    <button type="button" name="btnSave" id="btnSave" class="btn btn-primary">刷卡授權</button>
                    @*<button type="submit" class="btn btn-secondary">退出</button>*@
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<!--輸出表格結束-->
<script>
    var errorLine = '@((ViewData["errorLine"]==null)?"": ViewData["errorLine"].ToString())';
    var errorMsg = '@((ViewData["errorMsg"] == null)?"" : ViewData["errorMsg"].ToString())';
      var totalBill = parseInt("@Sum");
</script>