@model List<Domain.TB.Hotai.HotaiCardInfo>
@{
    ViewBag.Title = "CreditCardChoose";
    List<Domain.TB.Hotai.HotaiCardInfo> L_Output = new List<Domain.TB.Hotai.HotaiCardInfo>();
    L_Output = Model;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>和泰Pay設定</title>


    <link rel="stylesheet" href="~/Content/HotaiPayCss/bootstrap.css">
    <link rel="stylesheet" href="~/Content/HotaiPayCss/style.css">
</head>
<body>

    <header class="d-flex justify-content-center align-items-center"><h6 style="margin-top: 8px;">和泰Pay設定</h6></header>


    @using (Html.BeginForm("CreditCardChoose", "HotaiPayCtbc", FormMethod.Post)) //使用@Html.BeginForm()預設使用Post傳遞變數，並且將表單傳送到與檢視同名的Action

    {
        <div class="container" style="max-width: 414px;">
            <div class="mt-4">
                <p class="text-gray">請選擇您欲綁定的信用卡</p>
            </div>

            @{
                for (int i = 0; i < L_Output.Count; i++)
                {
                    var A_output = L_Output.ElementAt(i);
                    if (A_output.CardType == "JCB")
                    {
                        var CardName = A_output.CardName;
                        var CardNumber = A_output.CardNumber;
                        CardNumber = CardNumber.Substring(CardNumber.Length - 5, 5).Replace("-", "*");
                        var CardType = A_output.CardType;
                        var BankDesc = A_output.BankDesc;
                        var CardToken = A_output.CardToken;
                        var IsDefault = A_output.IsDefault == 1 ? true : false;
                        var MemberOneID = A_output.MemberOneID;

                        <div class="credit-card-box mb-4">
                            <input class="mr-3" type="radio" id="card+@i" name="CreditCardList" @(IsDefault ? "checked=checked" : "checked=unchecked")
                                   value=("@MemberOneID"+"|"+"@CardType"+"|"+"@BankDesc"+"|"+"@CardNumber"+"|"+"@A_output") />

                            <div class="credit-style mr-2">
                                <img src="~/images/icon/credit_pay_JCB.svg" alt="">
                                信用卡
                            </div>
                            <div class="credit-number">@(CardNumber.Substring(CardNumber.Length - 5, 5).Replace("-", "*"))</div>
                        </div>
                    }

                    if (A_output.CardType == "MasterCard")
                    {

                        var CardName = A_output.CardName;
                        var CardNumber = A_output.CardNumber;
                        CardNumber = CardNumber.Substring(CardNumber.Length - 5, 5).Replace("-", "*");
                        var CardType = A_output.CardType;
                        var BankDesc = A_output.BankDesc;
                        var CardToken = A_output.CardToken;
                        var IsDefault = A_output.IsDefault == 1 ? true : false;
                        var MemberOneID = A_output.MemberOneID;

                        <div class="credit-card-box mb-4">
                            <input class="mr-3" type="radio" id="card+@i" name="CreditCardList" @(IsDefault ? "checked=checked" : "checked=unchecked" )
                                   value=("@MemberOneID"+"|"+"@CardType"+"|"+"@BankDesc"+"|"+"@CardNumber"+"|"+"@A_output") />

                            <div class="credit-style mr-2">
                                <img src="~/images/icon/credit_pay_MasterCard.svg" alt="">
                                信用卡
                            </div>
                            <div class="credit-number">@(CardNumber.Substring(CardNumber.Length - 5, 5).Replace("-", "*"))</div>
                        </div>
                    }
                    if (A_output.CardType == "Visa")
                    {

                        var CardName = A_output.CardName;//666
                        var CardNumber = A_output.CardNumber;//-8441
                        var CardType = A_output.CardType;//VISA
                        var BankDesc = A_output.BankDesc;//國外卡
                        var CardToken = A_output.CardToken;//1850
                        var IsDefault = A_output.IsDefault == 1 ? true : false;
                        var MemberOneID = A_output.MemberOneID;//112bd64b..........af980

                        <div class="credit-card-box mb-4">
                            <input class="mr-3" type="radio" id="card+@i" name="CreditCardList" @(IsDefault ? "checked=checked" : "checked=unchecked" )
                                   value=@MemberOneID|@CardType|@BankDesc|@CardNumber|@CardToken />

                            <div class="credit-style mr-2">
                                <img src="~/images/icon/credit_pay_VISA.svg" alt="">
                                信用卡
                            </div>
                            <div class="credit-number">@(CardNumber.Substring(CardNumber.Length - 5, 5).Replace("-", "*"))</div>
                        </div>

                    }
                }
            }

            <div class="buttonBox text-center mb-2 d-none d-sm-block desktop-margin-top">
                <a class="text-blue" onclick="getHerfAddreess_ToBindNewCard()" style="cursor: pointer;">＋ 新增信用卡</a>
            </div>
            <div class="buttonBox d-none d-sm-block">
                <button type="submit" class="btn btn-blue" onclick="doSubmitCheck()" style="max-width: 414px;" id="agree-btn">
                    選擇預設信用卡
                </button>
            </div>

        </div>

        <div class="footer-btn-box footer-btn-margin">
            <div class="buttonBox mb-2">
                <a class="text-blue" onclick="getHerfAddreess_ToBindNewCard()" style="cursor: pointer;">＋ 新增信用卡</a>
            </div>
            <div class="buttonBox">
                <button type="submit" class="btn btn-blue" style="max-width: 414px;" id="agree-btn">
                    選擇預設信用卡
                </button>
            </div>
        </div> <!--container-->

    } <!--FormMethod.Post-->
</body>
</html>

<script>
    function getURLToken() {
        var getUrlString = location.href;
        //console.log('ssss')
        //console.log(location.href)
        var url = new URL(getUrlString);
        var url_Token = "";
        url_Token = url.searchParams.get('irent_access_token');
        return url_Token
    }
    function getHerfAddreess_ToBindNewCard() {
        var urlToken = getURLToken();
        var rtnURL = "";
        if (urlToken != null && urlToken != "") {
            rtnURL = "/HotaiPayCtbc/BindNewCard?irent_access_token=" + urlToken;
        } else
            rtnURL = "/HotaiPayCtbc/BindNewCard";
        //alert("rtnURL =" + rtnURL);

            document.location.href = rtnURL;
    }


    function doSubmitCheck() {
        var rtnValue = "";
        var obj = document.getElementsByName("CreditCardList");
        var radioId = "";
        for (var i = 0; i < obj.length; i++) {
            radioId = "card" + i;
            if (document.getElementById(radioId).checked) {
                rtnValue = document.getElementById(radioId).value;
                break;
            }
        }
        if (rtnValue == "")
            swal("錯誤!", "請至少選擇一張卡片!", "error");
        //Todo 將  rtnValue Post到controller
    }
</script>