@using For_Interview.Models.ViewModels;
@model VerifyViewModel;

@{
    ViewData["Title"] = "審核";
}

<div>
@*搜尋區塊*@
<h1>搜尋</h1>
<form method="post" enctype="multipart/form-data" asp-controller="Verify" asp-action="Search">
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" asp-for="Account">帳號</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" asp-for="Account">
    </div>
  </div>
  <div class="form-group row mt-2">
    <label class="col-sm-2 col-form-label" asp-for="Name">姓名</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" asp-for="Name">
    </div>
  </div>
  <div class="form-group row mt-2">
    <label class="col-sm-2 col-form-label" asp-for="Email">Email</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" asp-for="Email">
    </div>
  </div>
  <div class="form-group row mt-2">
    <label class="col-sm-2 col-form-label" asp-for="Organization">組織</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" asp-for="Organization">
    </div>
  </div>
  <button type="submit" class="btn btn-primary mt-2">搜尋</button>
</form>

<form method="post" enctype="multipart/form-data" asp-controller="Verify" asp-action="ExportExcel">
  <table class="table table-striped mt-5">
    <thead>
      <tr>
        <th scope="col">流水號</th>
        <th scope="col">帳號</th>
        <th scope="col">姓名</th>
        <th scope="col">組織</th>
        <th scope="col">Email</th>
        <th scope="col">生日</th>
        <th scope="col">附檔</th>
        <th scope="col">啟用</th>
      </tr>
    </thead>
    <tbody>
        @for(var i=0; i < Model.SearchResult.Count(); i++)
        {
            @*資料binding*@
            @Html.HiddenFor(x => x.SearchResult[i].Id);
            @Html.HiddenFor(x => x.SearchResult[i].Account);
            @Html.HiddenFor(x => x.SearchResult[i].Name);
            @Html.HiddenFor(x => x.SearchResult[i].Organizatoin);
            @Html.HiddenFor(x => x.SearchResult[i].Email);
            @Html.HiddenFor(x => x.SearchResult[i].Birthday);
            @Html.HiddenFor(x => x.SearchResult[i].Status);

            var item = Model.SearchResult[i];
            <tr>            
            <th scope="row">@item.Id</th>
            <td >@item.Account</td>
            <td>@item.Name</td>
            <td>@item.Organizatoin</td>
            <td>@item.Email</td>
            <td>@item.Birthday.ToString("yyyy/MM/dd")</td>
            <td>    @Html.ActionLink(
                "下載",
                "Download",
                "Verify",
                new { userId = item.Id },
                new { @class = $"btn btn-primary"})
            </td>
            <td>
                @{

                var disabled = item.Status ? "disabled" : string.Empty;
                var str = item.Status ? "已啟用" : "啟用";

                @Html.ActionLink(
                $"{str}",
                "SendEmail",
                "Verify",
                new { userId = item.Id },
                new { @class = $"btn btn-primary {disabled}"})
                }
            </td>
           </tr>  
        }
    </tbody>
  </table>
  <button type="submit" class="btn btn-primary mt-2">匯出</button>
</form>

@*分頁              *@
  <nav aria-label="Page navigation">
  <ul class="pagination mt-2">
    <li class="page-item">
      <a class="page-link" aria-label="Next" onclick="location.href='@Url.Action("Page", "Verify", new {name = Model.Name, account = Model.Account, email = Model.Email, organization = Model.Organization, pageIndex = Model.CurrentPage == 1? 1: Model.CurrentPage-1 })'">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
      @{
        // 做多10個頁面按鈕
      var pageCount = 0;
      for (var i = Model.CurrentPage -5; i <= Model.TotalPage; i++){
                if (i < 1) continue;
                    <li class="page-item @(i == Model.CurrentPage? "active": string.Empty)"><a class="page-link" onclick="location.href='@Url.Action("Page", "Verify", new {name = Model.Name, account = Model.Account, email = Model.Email, organization = Model.Organization,  pageIndex = i})'">@i</a></li>
                    pageCount++;
                    if (pageCount == 10) break;
        }
      }
    <li class="page-item">
      <a class="page-link" aria-label="Next" onclick="location.href='@Url.Action("Page", "Verify", new {name = Model.Name, account = Model.Account, email = Model.Email, organization = Model.Organization, pageIndex = Model.CurrentPage+1 >= Model.TotalPage ? Model.TotalPage: Model.CurrentPage+1 })'">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
</div>