@model IEnumerable<Domain.TB.BackEnd.BE_GetBannerInfo>
@{
    //ViewBag.Title = "BannerSet";
    List<Domain.TB.BackEnd.BE_GetBannerInfo> lstData = null;
    string banner = (ViewData["Banner"] == null) ? "" : ViewData["Banner"].ToString();
    int ResultLen = -1;

    if (Model != null)
    {
        lstData = Model.ToList();
        ResultLen = lstData.Count;
    }
}

<!--查詢介面-->
<div class="container mt-4">
    <!--card start-->
    <div class="card">
        <div class="card-header bg-secondary text-white">
            Banner資訊設定
        </div>
        <form method="post" id="frmBannerSetting" name="frmBannerSetting" action="@Url.Action("BannerSet")" enctype="multipart/form-data">
            <ul class="list-group list-group-flush">
                <!--每一個li是一項查詢條件-->
                <li class="list-group-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-2">
                                Banner名稱
                            </div>
                            <div class="col-md-3">
                                <input class="form-control" type="text" name="Banner" id="Banner" value="@banner" />
                                <span class="form-inline" id="BannerName" name="BannerName"></span>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3 offset-md-2">
                                <button type="button" id="btnSend" name="btnSend" class="btn btn-primary">確定</button>
                                <button type="button" id="btnAdd" name="btnAdd" class="btn btn-outline-info">新增</button>
                                <input type="hidden" id="Account" name="Account" value="@((Session["Account"] == null) ? "" : Session["Account"].ToString())" />
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </form>
    </div>
    <!--end card-->
</div>
<!--查詢介面結束-->
<!--輸出表格-->
<div class="container mt-4">
    <table class="table table-striped bg-white mt-4 " data-limit-navigation="5">
        <thead class="text-white bg-primary">
            <tr>
                <th scope="col" data-type="numeric"></th>
                <th scope="col">顯示順序</th>
                <th scope="col">URL</th>
                <th scope="col">跑馬燈文字</th>
                <th scope="col">起始時間</th>
                <th scope="col">到期時間</th>
                <th scope="col" data-sort-ignore="true"></th>
            </tr>
        </thead>
        <tbody>
            @{
                if (ResultLen == 0)
                {
                    <tr>
                        <td colspan="10">查無結果</td>
                    </tr>
                }
                else
                {
                    for (int i = 0; i < ResultLen; i++)
                    {
                        <tr>
                            <th scope="col">@(i+1)</th>
                            <th scope="row">@(lstData[i].QUEUE)</th>
                            <th scope="col">@(lstData[i].URL)</th>
                            <th scope="col">@(lstData[i].MarqueeText)</th>
                            <th scope="col">@(lstData[i].STARTDATE)</th>
                            <th scope="col">@(lstData[i].ENDDATE)</th>
                            <th scope="col"><button class="btn btn-outline-info" id="btn_@(lstData[i].SEQNO)" name="btn_@(lstData[i].SEQNO)" onclick="goMaintain('@(lstData[i].SEQNO)')">修改</button></th>
                        </tr>
                    }
                }
            }
        </tbody>
        <tfoot class="hide-if-no-paging">
            <tr>
                <td colspan="10" class="text-center">
                    <ul class="pagination"></ul>
                </td>
            </tr>
        </tfoot>
    </table>
    <form method="post" id="frmBannerMaintain" name="frmBannerMaintain" action="@Url.Action("BannerInfoMaintain")" enctype="multipart/form-data">
        <input type="hidden" id="MaintainBanner" name="MaintainBanner" value="" />
    </form>
</div>
<!--輸出表格結束-->
<!--javascript 初始-->
<script>
    //var SEQNO = '@banner';
    //console.log('qqddd:' + SEQNO)
    var errorLine = '@((ViewData["errorLine"]==null)?"": ViewData["errorLine"].ToString())';
    var errorMsg = '@((ViewData["errorMsg"] == null)?"" : ViewData["errorMsg"].ToString())';
    var ResultDataLen = '@(ResultLen)';
</script>

