@model IEnumerable<Domain.TB.BackEnd.BE_GetOrderQueryForWeb>
@{
    string CarNo = (ViewData["CarNo"] == null) ? "" : ViewData["CarNo"].ToString();
    string StationID = (ViewData["StationID"] == null) ? "" : ViewData["StationID"].ToString();
    string IDNO = (ViewData["IDNO"] == null) ? "" : ViewData["IDNO"].ToString();
    string Mode = (ViewData["Mode"] == null) ? "" : ViewData["Mode"].ToString();
    string SDate = (ViewData["SDate"] == null) ? "" : ViewData["SDate"].ToString();
    string EDate = (ViewData["EDate"] == null) ? "" : ViewData["EDate"].ToString();
    string OrderNo = (ViewData["OrderNo"] == null) ? "" : ViewData["OrderNo"].ToString();

    int ResultLen = -1;
    List<Domain.TB.BackEnd.BE_GetOrderQueryForWeb> lstData = null;
    if (Model != null)
    {
        lstData = new List<Domain.TB.BackEnd.BE_GetOrderQueryForWeb>();
        lstData = Model.ToList();
        ResultLen = lstData.Count;
    }
}
<!--查詢介面-->
<div class="container mt-4">
    <!--card start-->
    <div class="card">
        <div class="card-header bg-secondary text-white">
            合約資料查詢
        </div>
        @using (Html.BeginForm("ContactQuery", "ContactManage", FormMethod.Post, new { id = "frmContactQuery", @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            <ul class="list-group list-group-flush">
                <!--每一個li是一項查詢條件-->
                <li class="list-group-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-2">
                                預約編號
                            </div>
                            <div class="col-md-3">
                                <input class="form-control" type="text" name="OrderNo" id="OrderNo" value="@OrderNo" />
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-2">
                                會員帳號
                            </div>
                            <div class="col-md-3">
                                <input class="form-control" type="text" name="IDNO" id="IDNO" value="@IDNO" />
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-2">
                                服務據點
                            </div>
                            <div class="col-md-3">
                                <input class="form-control" type="text" name="StationID" id="StationID" value="@StationID" />
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-2">

                            </div>
                            <div class="col-md-10">

                                <input type="button" name="btnAll" class="btn btn-outline-info" value="設定all" onclick=setStation("all");>
                                <input type="button" name="btnX0SR" class="btn btn-outline-info" value="雙北【機車】" onclick=setStation("X0WR");>
                                <input type="button" name="btnX1JT" class="btn btn-outline-info" value="台南【機車】" onclick=setStation("X1JT");>
                                <input type="button" name="btnX1ZZ" class="btn btn-outline-info" value="宜蘭【機車】" onclick=setStation("X1ZZ");>
                                <input type="button" name="btnX1KZ" class="btn btn-outline-info" value="高雄【機車】" onclick=setStation("X1KZ");>
                                <input type="button" name="btnX1KZ" class="btn btn-outline-info" value="台中【機車】" onclick=setStation("X1KY");>

                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-2">
                                車牌號碼
                            </div>
                            <div class="col-md-3">
                                <input class="form-control" type="text" name="CarNo" id="CarNo" value="@CarNo" />

                            </div>
                        </div>
                    </div>
                </li>


                <li class="list-group-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-2">
                                訂單起迄日
                            </div>
                            <div class="col-md-3">
                                <!-- datepicker -->
                                <div class="custom-datepicker">
                                    <input class="datePicker form-control" type="text" id="StartDate" name="StartDate" value="@SDate" readonly="false">
                                    <svg width="22" height="22" viewBox="0 0 22 22">
                                        <g transform="translate(0 3)" fill="#fff" stroke="#9fa4ac" stroke-width="1">
                                            <rect width="22" height="19" rx="3" stroke="none" />
                                            <rect x="0.5" y="0.5" width="21" height="18" rx="2.5" fill="none" />
                                        </g>
                                        <g transform="translate(0 3)" fill="#9fa4ac" stroke="#9fa4ac" stroke-width="1">
                                            <path d="M3,0H19a3,3,0,0,1,3,3V6a0,0,0,0,1,0,0H0A0,0,0,0,1,0,6V3A3,3,0,0,1,3,0Z" stroke="none" />
                                            <path d="M3,.5H19A2.5,2.5,0,0,1,21.5,3V5a.5.5,0,0,1-.5.5H1A.5.5,0,0,1,.5,5V3A2.5,2.5,0,0,1,3,.5Z" fill="none" />
                                        </g>
                                        <g transform="translate(3.633 -0.005)">
                                            <rect id="Rectangle_37" data-name="Rectangle 37" width="2" height="8" rx="1" transform="translate(0.367 0.005)" fill="#9fa4ac" />
                                            <rect id="Rectangle_38" data-name="Rectangle 38" width="2" height="8" rx="1" transform="translate(11.367 0.005)" fill="#9fa4ac" />
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <!-- datepicker with time -->
                                <div class="custom-datepicker">
                                    <input class="datePicker form-control" type="text" id="EndDate" name="EndDate" value="@EDate" readonly="false">
                                    <svg width="22" height="22" viewBox="0 0 22 22">
                                        <g transform="translate(0 3)" fill="#fff" stroke="#9fa4ac" stroke-width="1">
                                            <rect width="22" height="19" rx="3" stroke="none" />
                                            <rect x="0.5" y="0.5" width="21" height="18" rx="2.5" fill="none" />
                                        </g>
                                        <g transform="translate(0 3)" fill="#9fa4ac" stroke="#9fa4ac" stroke-width="1">
                                            <path d="M3,0H19a3,3,0,0,1,3,3V6a0,0,0,0,1,0,0H0A0,0,0,0,1,0,6V3A3,3,0,0,1,3,0Z" stroke="none" />
                                            <path d="M3,.5H19A2.5,2.5,0,0,1,21.5,3V5a.5.5,0,0,1-.5.5H1A.5.5,0,0,1,.5,5V3A2.5,2.5,0,0,1,3,.5Z" fill="none" />
                                        </g>
                                        <g transform="translate(3.633 -0.005)">
                                            <rect id="Rectangle_37" data-name="Rectangle 37" width="2" height="8" rx="1" transform="translate(0.367 0.005)" fill="#9fa4ac" />
                                            <rect id="Rectangle_38" data-name="Rectangle 38" width="2" height="8" rx="1" transform="translate(11.367 0.005)" fill="#9fa4ac" />
                                        </g>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3 offset-md-2">
                                <button type="button" name="btnExplode" id="btnExplode" class="btn btn-primary">匯出</button>
                                <input type="hidden" name="Mode" id="Mode" value="@(Mode)" />
                                <input type="hidden" id="Account" name="Account" value="@((Session["Account"] == null) ? "" : Session["Account"].ToString())" />
                                <input type="hidden" id="len" name="len" value="@ResultLen" />
                                <button type="submit" class="btn btn-primary">確認送出</button>

                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        }
    </div>
    <!--end card-->
</div>
@using (Html.BeginForm("ContactQueryExplode", "ContactManage", FormMethod.Post, new { id = "formContactQueryExplode" }))
{
    <input type="hidden" id="ExplodeOrderNum" name="ExplodeOrderNum" value="">
    <input type="hidden" id="ExplodeuserID" name="ExplodeuserID" value="">
    <input type="hidden" id="ExplodeobjCar" name="ExplodeobjCar" value="">
    <input type="hidden" id="ExplodeobjStation" name="ExplodeobjStation" value="">
    <input type="hidden" id="ExplodeSDate" name="ExplodeSDate" value="">
    <input type="hidden" id="ExplodeEDate" name="ExplodeEDate" value="">
}
<!--查詢介面結束-->
<!--輸出表格-->
<div class="container mt-4" id="ShowSetCardPanel">
    <table class="table bg-white" data-limit-navigation="5">
        <thead class="text-white bg-primary">
            <tr>
                <th scope="col">預約編號</th>
                <th scope="col">會員帳號</th>
                <th scope="col">取車時間</th>
                <th scope="col">還車時間</th>
                <th scope="col">合約狀態</th>
                <th scope="col">服務據點</th>
                <th scope="col">車號</th>
                <th scope="col">詳細資訊</th>
            </tr>
        </thead>
        <tbody>
            @if (ResultLen == 0)
            {
                <tr>
                    <td colspan="7" class="text-center">查無結果</td>


                </tr>
            }
            else
            {
                for (int i = 0; i < ResultLen; i++)
                {
                    string OrderStatus = "";
                    int isMotor = (lstData[i].CarNo.Substring(0, 1) == "E") ? 1 : 0;
                <tr>
                    <td scope="row">@(string.Format("H{0}", lstData[i].OrderNum.PadLeft(7, '0')))</td>
                    <td scope="col">@(lstData[i].IDNO)</td>
                    <td scope="col">@(lstData[i].FS.ToString("yyyyMMdd HH:mm:ss"))</td>
                    <td scope="col">@(lstData[i].FE.ToString("yyyyMMdd HH:mm:ss"))</td>
                    <td scope="col">
                        @if (lstData[i].cancel_status > 0)
                        {
                            OrderStatus = "已取消";
                        }
                        else
                        {
                            switch (lstData[i].car_mgt_status)
                            {
                                case 0:
                                case 1:
                                case 2:
                                case 3:
                                    OrderStatus = "未取車";
                                    break;
                                case 4:
                                    OrderStatus = "已取車";
                                    break;

                                case 11:
                                    OrderStatus = "已點擊還車";
                                    break;
                                case 15:
                                    OrderStatus = "已付款";
                                    break;
                                case 16:
                                    OrderStatus = "已完成還車";
                                    break;
                            }
                        }
                        @OrderStatus
                    </td>
                    <td scope="col">@(lstData[i].StationName)</td>
                    <td scope="col">@(lstData[i].CarNo)</td>
                    <td scope="col"><button type="button" class="btn btn-outline-secondary" onclick="ViewDetail(@(lstData[i].OrderNum),@(isMotor));">點我觀看</button></td>
                </tr>
                }

            }

        </tbody>
        <tfoot class="hide-if-no-paging">
            <tr>
                <td colspan="7" class="text-center">
                    <ul class="pagination"></ul>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<form action="" id="showDetail" name="showDetail" method="get">
    <input type="hidden" id="DetailOrderNo" name="DetailOrderNo" />
</form>
<!--輸出表格結束-->

<script>
    var errorLine = '@((ViewData["errorLine"]==null)?"": ViewData["errorLine"].ToString())';
                           var errorMsg = '@((ViewData["errorMsg"] == null)?"" : ViewData["errorMsg"].ToString())';
</script>