@model IEnumerable<Domain.TB.SubScript.SubScriptionForClient>
@{
    int Len = 0;
    List<Domain.TB.SubScript.SubScriptionForClient> lstQuery = null;
    FormsIdentity id;
    FormsAuthenticationTicket ticket;
    if (Session["Account"] == null)
    {
        Response.Redirect("Index");
    }
    else
    {
        //id = (FormsIdentity)User.Identity;
        if (Session["Account"] == null)
        {
            Response.Redirect("Index");
        }

    }

    if (null == Model)
    {
        Len = 0;
    }
    else
    {
        lstQuery = Model.ToList<Domain.TB.SubScript.SubScriptionForClient>();
        Len = lstQuery.Count();

    }
}


<div class="row-fluid">

    <!-- Add News: Box -->
    <div class="span12">


        <!-- Add News: Content -->
        <div class="well no-padding" id="content">
         
                <h3 class="text-center bg-danger" style="width:100%;">您的月租方案申辦記錄</h3>
            <div class="table_container">
            <table class="table table-bordered text-center" id="list">
                <thead>

                    <tr>
                        <th>方案名稱</th>
                        <th>方案生效時間</th>
                        <th>方案結束時間</th>
                        <th>方案可使用時數</th>
                        <th>已折抵時數</th>
                        <th>剩餘折抵時數</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Len; i++)
                    {
                        string kindName = (lstQuery[i].RateType == 0) ? "汽車-平日：" + lstQuery[i].WorkDayHours.ToString() + "小時" : "機車：" + (lstQuery[i].MotoTotalHours).ToString() + "分鐘";
                        string alreadyUse = (lstQuery[i].RateType == 0) ? (lstQuery[i].WorkDayHours-lstQuery[i].NowWorkDayHours).ToString() + "小時" : ((lstQuery[i].MotoTotalHours-lstQuery[i].NowMotoTotalHours) ).ToString() + "分鐘";
                        string nowHours = (lstQuery[i].RateType == 0) ? lstQuery[i].NowWorkDayHours.ToString() + "小時" : (lstQuery[i].NowMotoTotalHours).ToString()+"分鐘";
                    <tr>
                        <td>@lstQuery[i].ProjNM</td>
                        <td>@lstQuery[i].StartDate.ToString("yyyy/MM/dd HH:mm")</td>
                        <td>@lstQuery[i].EndDate.ToString("yyyy/MM/dd HH:mm")</td>
                        <td>@kindName</td>
                        <td>@alreadyUse</td>
                        <td>@nowHours</td>
                    </tr>
                    }
                </tbody>
                <tfoot>



                </tfoot>



            </table>
</div>
        </div>
        <!-- / Add News: Content -->

    </div>
    <!-- / Add News: Box -->

