@model IEnumerable<Domain.TB.BackEnd.BE_CarDashBoardData>
@using System.Text;
@{

    string StationID = "";
    string CarNo = "";
    string[] ShowType = { "", "", " checked" };
    string QueryData = (ViewData["QueryData"] == null) ? "" : ViewData["QueryData"].ToString();
    //機車參數
    int MotorRent = 0;
    int MotorAccessable = 0;
    int MotorUnaccessable = 0;
    int MotoOneHour = 0;
    int MotoNoResponse = 0;
    int TBA3Low = 0;
    int TBA2Low = 0;
    //汽車參數
    int CarRent = 0;
    int CarAccessable = 0;
    int CarUnaccessable = 0;
    int CarOneHour = 0;
    int CarNoResponse = 0;
    int NoiButton = 0;
    int iButton = 0;
    int NoiButtonKey = 0;
    int lowPow = 0;
    DateTime NoReponseOneHour = DateTime.Now.AddHours(-1);
    DateTime NoResponse = DateTime.Now.AddHours(-2);
    Web.Models.Params.Search.Input.Input_CarDashBoard Query = null;
    if (QueryData != "")
    {
        Query = Newtonsoft.Json.JsonConvert.DeserializeObject<Web.Models.Params.Search.Input.Input_CarDashBoard>(QueryData);
        StationID = Query.StationID;
        CarNo = Query.CarNo;
        ShowType[2] = "";
        ShowType[Convert.ToInt32(Query.ShowType)] = " checked";
    }
    int ResultLen = 0;
    int CarResultLen = 0;
    int MotoResultLen = 0;
    List<Domain.TB.BackEnd.BE_CarDashBoardData> lstData = new List<Domain.TB.BackEnd.BE_CarDashBoardData>();
    List<Domain.TB.BackEnd.BE_CarDashBoardData> lstMotoData = new List<Domain.TB.BackEnd.BE_CarDashBoardData>();
    List<Domain.TB.BackEnd.BE_CarDashBoardData> lstCarData = new List<Domain.TB.BackEnd.BE_CarDashBoardData>();
    if (Model != null)
    {
        lstData = Model.ToList();

        ResultLen = lstData.Count();
        lstMotoData = (from data in lstData
                       where data.isMoto == 1
                       select data).ToList();
        MotoResultLen = lstMotoData.Count();
        MotorRent = lstMotoData.Count(p => p.NowStatus == 0);
        MotorUnaccessable =  lstMotoData.Count(p => p.NowStatus == 2);
        MotorAccessable = lstMotoData.Count(p => p.NowStatus == 1);
        MotoOneHour = lstMotoData.Count(p => p.LastUpdate != "" && Convert.ToDateTime(p.LastUpdate) <= NoReponseOneHour && Convert.ToDateTime(p.LastUpdate) >= NoResponse);
        //MotoNoResponse = lstMotoData.Count(p => p.LastUpdate == "" && Convert.ToDateTime(p.LastUpdate) < NoResponse && Convert.ToDateTime(p.LastUpdate) > NoReponseOneHour);
        MotoNoResponse = lstMotoData.Count(p => p.LastUpdate == "" || Convert.ToDateTime(p.LastUpdate) < NoResponse);
        TBA3Low = lstMotoData.Count(p => p.TBA3 <30);
        TBA2Low = lstMotoData.Count(p => p.TBA2 < 30);

        lstCarData = (from data in lstData
                      where data.isMoto == 0
                      select data).ToList();
        CarResultLen = lstCarData.Count();
        CarRent = lstCarData.Count(p=>p.NowStatus==0);
        CarUnaccessable = lstCarData.Count(p => p.NowStatus == 2);
        CarAccessable = lstCarData.Count(p => p.NowStatus == 1);
        CarOneHour = lstCarData.Count(p=> p.LastUpdate!="" && Convert.ToDateTime(p.LastUpdate)<=NoReponseOneHour);
        CarNoResponse = lstCarData.Count(p => p.LastUpdate == "" && Convert.ToDateTime(p.LastUpdate) < NoResponse && Convert.ToDateTime(p.LastUpdate)> NoReponseOneHour);
        //NoiButton = lstCarData.Count(p => p.iButton == 0 && p.iButtonKey!="");
        //iButton = lstCarData.Count(p => p.iButton == 1 && p.iButtonKey != "");
        NoiButton = lstCarData.Count(p => p.iButton == 0 && p.iButtonKey != "");
        iButton = lstCarData.Count(p => p.iButton == 1 && p.iButtonKey != "");
        NoiButtonKey = lstCarData.Count(p => p.iButtonKey == "");
        lowPow = lstCarData.Count(p => p.Volt < 12);

    }
}
<!--查詢介面-->
<div class="container mt-4">
    <!--card start-->
    @using (Html.BeginForm("CarDashBoard", "CarDataInfo", FormMethod.Post, new { id = "frmCarDashBoard", @class = "form-horizontal" }))
    {
    <div class="card">
        <div class="card-header bg-secondary text-white">
            車輛中控台
        </div>
        <ul class="list-group list-group-flush">
            <!--每一個li是一項查詢條件-->
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            車輛查詢
                        </div>
                        <div class="col-md-3">
                            <input class="form-control" type="text" name="CarNo" id="CarNo" value="@CarNo" />

                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            服務據點
                        </div>
                        <div class="col-md-10">
                            <input class="form-control col-md-2" type="text" name="StationID" id="StationID" value="@StationID" />
                            <span class="form-inline" id="StationName" name="StationName"></span>
                            <button type="button" id="btnSearch_ALL" name="btnSearch_ALL" class="btn btn-warning">ALL</button>
                            <button type="button" id="btnSearch_X0WR" name="btnSearch_X0WR" class="btn btn-primary">雙北【機車】</button>
                            <button type="button" id="btnSearch_X1JT" name="btnSearch_X1JT" class="btn btn-primary">台南【機車】</button>
                            <button type="button" id="btnSearch_X1KX" name="btnSearch_X1KX" class="btn btn-primary">桃園【機車】</button>
                            <button type="button" id="btnSearch_X1KZ" name="btnSearch_X1KZ" class="btn btn-primary">高雄【機車】</button>
                            <button type="button" id="btnSearch_X1KY" name="btnSearch_X1KY" class="btn btn-primary">台中【機車】</button>
                            <button type="button" id="btnSearch_X1ZZ" name="btnSearch_X1ZZ" class="btn btn-primary">宜蘭【機車】</button>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            顯示方式
                        </div>
                        <div class="col-md-3">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ShowType" id="ShowAll" value="2" @ShowType[2]>
                                <label class="form-check-label" for="ShowAll">
                                    全部
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ShowType" id="ShowTrue" value="1" @ShowType[1]>
                                <label class="form-check-label" for="ShowTrue">
                                    僅顯示有回應
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ShowType" id="ShowFalse" value="0" @ShowType[0]>
                                <label class="form-check-label" for="ShowFalse">
                                    僅顯示無回應
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2">
                            篩選條件
                        </div>
                        <div class="col-md-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="terms" id="LowBat3" value="0">
                                <label class="form-check-label" for="LowBat3">
                                    低電量機車(3TBA)
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="terms" id="LowBat2" value="1">
                                <label class="form-check-label" for="LowBat2">
                                    低電量機車(2TBA)
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="terms" id="PowON" value="2">
                                <label class="form-check-label" for="PowON">
                                    發動
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="terms" id="BatConvert" value="3">
                                <label class="form-check-label" for="BatConvert">
                                    電池蓋開啟
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="terms" id="NoResponseOneHour" value="4">
                                <label class="form-check-label" for="NoResponseOneHour">
                                    一小時無回應
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="terms" id="NoResponse" value="5">
                                <label class="form-check-label" for="NoResponse">
                                    無回應
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3 offset-md-2">
                            <button type="submit" id="btnSearch" name="btnSearch" class="btn btn-primary">查詢</button>

                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <input type="hidden" id="queryData" name="queryData" value="@QueryData" />
        <input type="hidden" id="len" name="len" value="@ResultLen" />
        <input type="hidden" id="Account" name="Account" value="@((Session["Account"]==null)?"":Session["Account"].ToString())" />
    </div>
        <!--end card-->
    }
</div>
<!--查詢介面結束-->
<!--輸出表格-->
@if (MotoResultLen > 0)
{
    <div class="container mt-4">

        <div class="container-fluid">
            <div class="row">
                <div class="col text-white bg-primary">
                    共有@(MotoResultLen)輛　可出租:@(MotorAccessable)輛　待上線:@(MotorUnaccessable)輛<br />機車目前租約中：@MotorRent;一小時無回應:@(MotoOneHour)輛;完全無回應:@(MotoNoResponse)輛;低電量(3TBA)：@(TBA3Low)輛;低電量(2TBA)：@(TBA2Low)輛
                </div>

            </div>
        </div>

        <table class="table table-striped bg-white mt-4 " data-limit-navigation="5">
            <thead class="text-white bg-primary">
                <tr>
                    <th scope="col" data-type="numeric">ID</th>
                    <th scope="col">據點</th>
                    <th scope="col">車號</th>
                    <th scope="col" data-sort-ignore="true">車機狀態</th>
                    <th scope="col" data-sort-ignore="true">車輛狀態</th>
                    <th scope="col">時速/里程數</th>
                    <th scope="col" data-sort-ignore="true">車輛操作</th>
                    <th scope="col" data-sort-ignore="true">尋車</th>
                    <th scope="col">最後更新時間</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < MotoResultLen; i++)
                {

                    <!--機車輸出-->
                    <tr>
                        <th scope="row">@(i+1)</th>
                        <td>
                            @lstMotoData[i].StationName
                        </td>
                        <td>
                            @if (lstMotoData[i].NowStatus == 0)
                            {
                                <svg xmlns="http://www.w3.org/2000/svg" width="69.081" height="23.291" viewBox="0 0 69.081 23.291">
                                    <g transform="translate(-426.563 -359.796)">
                                        <path d="M598.734,417.45q-.879,1.667-3.459,1.67-3.392-.267-3.144-3.135h5.481v0h3.933l1.224-6.672c-1.128-1.309-3.054-1.981-5.792-2.012q-7.5.267-9.232,7.7-.661,5.123,3.68,6.541h7.364a7.581,7.581,0,0,0,1.914-.947l.572-3.144Zm-2.018-7.2q3.209.27,2.979,3.046h-7.169Q593.331,410.431,596.716,410.251Z" transform="translate(-130.416 -38.454)" fill="#cb000b" />
                                        <path d="M665.237,414.009q.666-3.136,3.495-3.316,2.806-.087,2.125,3.137l-1.411,7.7h3.692l2.247-12.253c-.615-1.359-2-2.029-4.17-1.992a7.575,7.575,0,0,0-5.206,2.507l.394-2.148h-4.563L659.3,421.535h4.561Z" transform="translate(-188.411 -38.448)" fill="#cb000b" />
                                        <path d="M446.885,363.2a4.358,4.358,0,0,1-4.161,3.406,2.813,2.813,0,0,1-2.912-3.406,4.354,4.354,0,0,1,4.159-3.4A2.808,2.808,0,0,1,446.885,363.2Z" transform="translate(-10.681 0)" fill="#cb000b" />
                                        <path d="M496.9,375.177l-3.731,20.362h4.852l1.419-7.755h.007l1.158-6.335,1.15-6.271Z" transform="translate(-53.917 -12.452)" fill="#cb000b" />
                                        <path d="M542.349,381.338q.8-5.954-6.961-6.161h-4.466l3.114,2.919,3.575,3.353-4.8,3.35-4.278,2.985h2.351l3.7,7.755h6.1l-4.7-8.035Q541.5,386.478,542.349,381.338Z" transform="translate(-82.548 -12.452)" fill="#cb000b" />
                                        <path d="M746.341,387.732h-4.47l-.753,4.085-.593,3.225-1.245,6.808q-.584,2.857,1.19,3.853h5.676l.54-2.953-.013-.094a3.069,3.069,0,0,1-1.37.358q-1.786.09-1.359-2.238l1.048-5.734H748.1l.592-3.225h-3.1Z" transform="translate(-253.044 -22.616)" fill="#cb000b" />
                                        <path d="M434.434,402.485h-5.092l-2.779,15.161h5.092Z" transform="translate(0 -34.559)" fill="#cb000b" />
                                    </g>
                                </svg>
                            }
                            <p>
                                @lstMotoData[i].CarNo<br>
                                (@lstMotoData[i].CID)<br>
                                <span class="text-primary">車型:@lstMotoData[i].CarTypeName</span>
                            </p>
                        </td>
                        <td>
                            <!-- add text-danger to control font color -->
                            <span data-toggle="tooltip" title="GPS通信" class="icon-8 @((lstMotoData[i].GPRSStatus==1)?" text-danger":"")"></span>
                            <span data-toggle="tooltip" title="藍芽" class="icon-9 @((lstMotoData[i].BroadCast==1)?" text-danger":"")"></span>
                        </td>
                        <td>
                            <!-- add text-danger to control font color -->
                            <span data-toggle="tooltip" title="地圖" class="icon-1 @((lstMotoData[i].GPSStatus==1)?" text-danger":"")" onclick="detailMap(@lstMotoData[i].Longitude,@lstMotoData[i].Latitude)"></span>
                            <span data-toggle="tooltip" title="低電量(2TBA)@(lstMotoData[i].TBA2)" class="icon-4  @((lstMotoData[i].TBA2<30)?" text-danger":"")"></span>@(Convert.ToInt32(lstMotoData[i].TBA2))
                            <span data-toggle="tooltip" title="左電池" class="icon-7  text-cyan"></span>@(Convert.ToInt32(lstMotoData[i].LBA))
                            <br>
                            <span data-toggle="tooltip" title="發動" class="icon-2 @((lstMotoData[i].ACCStatus==1)?" text-danger":"")"></span>
                            <span data-toggle="tooltip" title="低電量(3TBA)@(lstMotoData[i].TBA3)" class="icon-5 @((lstMotoData[i].TBA3<30)?" text-danger":"")"></span>@(Convert.ToInt32(lstData[i].TBA3))
                            <span data-toggle="tooltip" title="右電池" class="icon-7 text-cyan"></span>@(Convert.ToInt32(lstMotoData[i].RBA))
                            <br>
                            <span data-toggle="tooltip" title="電源蓋" class="icon-3 @((lstMotoData[i].BatCover==1)?" text-danger":"")"></span>
                            <span data-toggle="tooltip" title="MBA" class="icon-6 text-danger"></span>@(Convert.ToInt32(lstMotoData[i].MBA))
                            <br>
                        </td>
                        <td>
                            @(lstMotoData[i].Speed)/@(lstMotoData[i].Millage)
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-secondary mb-2" onclick="SendMotoCmd2('@(lstMotoData[i].CID)','@(lstMotoData[i].deviceToken)','@(Encoding.Default.GetString(Convert.FromBase64String(lstMotoData[i].BLE_DeviceKey)))', '0','2')">發動</button>
                            <button type="button" class="btn btn-outline-secondary mb-2" onclick="SendMotoCmd2('@(lstMotoData[i].CID)','@(lstMotoData[i].deviceToken)','@(Encoding.Default.GetString(Convert.FromBase64String(lstMotoData[i].BLE_DeviceKey)))', 3,1)">熄火</button>
                            <br>
                            @*<button type="button" class="btn btn-outline-secondary mb-2">key on</button>*@
                            <button type="button" class="btn btn-outline-secondary mb-2" onclick="SendMotoCmd('@(lstMotoData[i].CID)','@(lstMotoData[i].deviceToken)','@(Encoding.Default.GetString(Convert.FromBase64String(lstMotoData[i].BLE_DeviceKey)))', 2)">key on</button>
                            <button type="button" class="btn btn-outline-secondary mb-2" onclick="SendMotoCmd('@(lstMotoData[i].CID)','@(lstMotoData[i].deviceToken)','@(Encoding.Default.GetString(Convert.FromBase64String(lstMotoData[i].BLE_DeviceKey)))', 6)">開坐墊</button>
                            <br>
                            <button type="button" class="btn btn-outline-secondary mb-2" onclick="SendMotoCmd('@(lstMotoData[i].CID)','@(lstMotoData[i].deviceToken)','@(Encoding.Default.GetString(Convert.FromBase64String(lstMotoData[i].BLE_DeviceKey)))', 7)">開/關電池架</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-secondary mb-2" onclick="SendMotoCmd('@(lstMotoData[i].CID)','@(lstMotoData[i].deviceToken)','@(Encoding.Default.GetString(Convert.FromBase64String(lstMotoData[i].BLE_DeviceKey)))', 5)">頭燈</button>
                            <br>
                            <button type="button" class="btn btn-outline-secondary mb-2" onclick="SendMotoCmd('@(lstMotoData[i].CID)','@(lstMotoData[i].deviceToken)','@(Encoding.Default.GetString(Convert.FromBase64String(lstMotoData[i].BLE_DeviceKey)))',4)">喇叭</button>
                        </td>
                        <td>
                            @((lstMotoData[i].LastUpdate == "") ? "無回應" : Convert.ToDateTime(lstMotoData[i].LastUpdate).ToString("yyyy-MM-dd HH:mm:ss"))
                            <br><font style='color:red'>@((Convert.ToDateTime(lstMotoData[i].LastUpdate) <= NoReponseOneHour) ? "最近一小時無回應" : "")</font>
                        </td>
                    </tr>
                    <!--機車輸出結束-->
                }

            </tbody>
            <tfoot class="hide-if-no-paging">
                <tr>
                    <td colspan="9" class="text-center">
                        <ul class="pagination"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>


    </div>
}

@if (CarResultLen > 0)
{
<div class="container mt-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-white bg-primary">
                共有@(CarResultLen)輛　可出租:@(CarAccessable)輛　待上線:@(CarUnaccessable)輛<br />
                汽車目前租約中：@CarRent; 一小時無回應：@(CarOneHour)輛; 完全無回應：@(CarNoResponse)輛; 低電量：@(lowPow)輛; iButton有掛回：@(iButton)輛; iButton無掛回：@(NoiButton)輛; iButton無Key：@(NoiButtonKey)輛
            </div>

        </div>
    </div>
    <table class="table table-striped bg-white mt-4 " data-limit-navigation="5">
        <thead class="text-white bg-primary">
            <tr>
                <th scope="col"></th>
                <th scope="col">據點</th>
                <th scope="col">車號</th>
                <th scope="col">車機狀態</th>
                <th scope="col">車輛狀態</th>
                <th scope="col">時速/里程數</th>
                <th scope="col">中控</th>
                <th scope="col">防盜</th>
                <th scope="col">尋車</th>
                <th scope="col">最後更新</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < CarResultLen; i++)
            {
                <tr>
                    <td scope="row">@(i+1)</td>
                    <td>
                        @lstCarData[i].StationName
                    </td>
                    <td>
                        @if (lstCarData[i].NowStatus == 0)
                        {
                            <svg xmlns="http://www.w3.org/2000/svg" width="69.081" height="23.291" viewBox="0 0 69.081 23.291">
                                <g transform="translate(-426.563 -359.796)">
                                    <path d="M598.734,417.45q-.879,1.667-3.459,1.67-3.392-.267-3.144-3.135h5.481v0h3.933l1.224-6.672c-1.128-1.309-3.054-1.981-5.792-2.012q-7.5.267-9.232,7.7-.661,5.123,3.68,6.541h7.364a7.581,7.581,0,0,0,1.914-.947l.572-3.144Zm-2.018-7.2q3.209.27,2.979,3.046h-7.169Q593.331,410.431,596.716,410.251Z" transform="translate(-130.416 -38.454)" fill="#cb000b" />
                                    <path d="M665.237,414.009q.666-3.136,3.495-3.316,2.806-.087,2.125,3.137l-1.411,7.7h3.692l2.247-12.253c-.615-1.359-2-2.029-4.17-1.992a7.575,7.575,0,0,0-5.206,2.507l.394-2.148h-4.563L659.3,421.535h4.561Z" transform="translate(-188.411 -38.448)" fill="#cb000b" />
                                    <path d="M446.885,363.2a4.358,4.358,0,0,1-4.161,3.406,2.813,2.813,0,0,1-2.912-3.406,4.354,4.354,0,0,1,4.159-3.4A2.808,2.808,0,0,1,446.885,363.2Z" transform="translate(-10.681 0)" fill="#cb000b" />
                                    <path d="M496.9,375.177l-3.731,20.362h4.852l1.419-7.755h.007l1.158-6.335,1.15-6.271Z" transform="translate(-53.917 -12.452)" fill="#cb000b" />
                                    <path d="M542.349,381.338q.8-5.954-6.961-6.161h-4.466l3.114,2.919,3.575,3.353-4.8,3.35-4.278,2.985h2.351l3.7,7.755h6.1l-4.7-8.035Q541.5,386.478,542.349,381.338Z" transform="translate(-82.548 -12.452)" fill="#cb000b" />
                                    <path d="M746.341,387.732h-4.47l-.753,4.085-.593,3.225-1.245,6.808q-.584,2.857,1.19,3.853h5.676l.54-2.953-.013-.094a3.069,3.069,0,0,1-1.37.358q-1.786.09-1.359-2.238l1.048-5.734H748.1l.592-3.225h-3.1Z" transform="translate(-253.044 -22.616)" fill="#cb000b" />
                                    <path d="M434.434,402.485h-5.092l-2.779,15.161h5.092Z" transform="translate(0 -34.559)" fill="#cb000b" />
                                </g>
                            </svg>
                        }
                        <p>
                            @lstCarData[i].CarNo<br>
                            (@lstCarData[i].CID)<br>
                            <span class="text-primary">車型:@lstCarData[i].CarTypeName</span>
                        </p>

                    </td>
                    <td>
                        <!-- add text-danger to control font color -->
                        <span data-toggle="tooltip" title="OBD" class="icon-2 @((lstCarData[i].ACCStatus==1)?" text-danger":"")"></span>
                        <span data-toggle="tooltip" title="GPS通信" class="icon-8 @((lstCarData[i].GPRSStatus==1)?" text-danger":"")"></span>
                        <span data-toggle="tooltip" title="GPRS通信" class="icon-10 @((lstCarData[i].OBDStatus==1)?" text-danger":"")"></span>
                    </td>
                    <td>
                        <!-- add text-danger to control font color -->
                        <span data-toggle="tooltip" title="地圖" class="icon-1 @((lstCarData[i].GPSStatus==1)?" text-danger":"")" onclick="detailMap(@lstCarData[i].Longitude,@lstCarData[i].Latitude)"></span>
                        <span data-toggle="tooltip" title="12V電瓶告警" class="icon-13 @((lstCarData[i].Volt<12)?" text-danger":"")"></span>
                        <span data-toggle="tooltip" title="電源" class="icon-2"></span>
                        <br>
                        <span data-toggle="tooltip" title="引擎" class="icon-11 @((lstCarData[i].PowerOnStatus==1)?" text-danger":"")"></span>
                        <span data-toggle="tooltip" title="大燈" class="icon-14 @((lstCarData[i].IndoorLightStatus==1)?" text-danger":"")"></span>
                        <span data-toggle="tooltip" title="車門" class="icon-16 @((lstCarData[i].DoorStatus==1)?" text-danger":"") "></span>
                        <br>
                        <span data-toggle="tooltip" title="防盜鎖" class="icon-12 @((lstCarData[i].SecurityStatus==0)?" text-danger":"")"></span>
                        <span data-toggle="tooltip" title="中控鎖" class="icon-15 @((lstCarData[i].CentralLockStatus==0)?" text-danger":"")"></span>

                        <span data-toggle="tooltip" title="iButton" class="icon-17 @((lstCarData[i].iButton==0)?" text-danger":"")"></span>
                        <br>
                    </td>
                    <td>
                        @(lstCarData[i].Speed)/@(lstCarData[i].Millage)
                    </td>
                    <td>
                        <!--中控-->
                        <button type="button" class="btn btn-outline-secondary mb-2" onclick="SendCarCmd('@lstCarData[i].CID', '@lstCarData[i].deviceToken', @((lstCarData[i].IsCens==1)?21:8), @(lstCarData[i].IsCens))">上鎖</button>
                        <br>
                        <button type="button" class="btn btn-outline-secondary mb-2" onclick="SendCarCmd('@lstCarData[i].CID', '@lstCarData[i].deviceToken', @((lstCarData[i].IsCens==1)?20:7), @(lstCarData[i].IsCens))">解鎖</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-secondary mb-2" onclick="SendCarCmd('@lstCarData[i].CID', '@lstCarData[i].deviceToken', @((lstCarData[i].IsCens==1)?23:10), @(lstCarData[i].IsCens))">上鎖</button>
                        <br>
                        <button type="button" class="btn btn-outline-secondary mb-2" onclick="SendCarCmd('@lstCarData[i].CID', '@lstCarData[i].deviceToken', @((lstCarData[i].IsCens==1)?22:9), @(lstCarData[i].IsCens))">解鎖</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-secondary mb-2" onclick="SendCarCmd('@lstCarData[i].CID', '@lstCarData[i].deviceToken', @((lstCarData[i].IsCens==1)?15:0), @(lstCarData[i].IsCens))">尋車</button>
                    </td>
                    <td>
                        @((lstCarData[i].LastUpdate == "") ? "無回應" : Convert.ToDateTime(lstCarData[i].LastUpdate).ToString("yyyy-MM-dd HH:mm:ss"))
                        <br><font style='color:red'>@((Convert.ToDateTime(lstCarData[i].LastUpdate) <= NoReponseOneHour) ? "最近一小時無回應" : "")</font>
                    </td>
                </tr>
            }



        </tbody>
        <tfoot class="hide-if-no-paging">
            <tr>
                <td colspan="10" class="text-center">
                    <ul class="pagination"></ul>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
}
<!--輸出表格結束-->
