@model IEnumerable<Domain.TB.BackEnd.BE_GetPartOfCarDataSettingData>
@{
    string StationID = (ViewData["StationID"] == null) ? "" : ViewData["StationID"].ToString();
    string CarNo = (ViewData["CarNo"] == null) ? "" : ViewData["CarNo"].ToString();
    List<Domain.TB.BackEnd.BE_GetPartOfCarDataSettingData> lstData = new List<Domain.TB.BackEnd.BE_GetPartOfCarDataSettingData>();
    int ResultLen = 0;

    int NowShowType = ((ViewData["ShowType"] == null) ? 3 : Convert.ToInt32(ViewData["ShowType"].ToString()));
    string[] ShowType = { "", "", "", "" };
    ShowType[NowShowType] = " checked";
    if (Model != null)
    {
        lstData = Model.ToList();

        ResultLen = lstData.Count();
    }
}
<!--查詢介面-->
<div class="container mt-4">
    <!--card start-->
    <div class="card">
        <div class="card-header bg-secondary text-white">
            車輛資料管理
        </div>
        @using (Html.BeginForm("CarDataSetting", "CarDataInfo", FormMethod.Post, new { id = "frmCarDashBoard", @class = "form-horizontal" }))
        {
            <ul class="list-group list-group-flush">
                <!--每一個li是一項查詢條件-->
                <li class="list-group-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-2">
                                車輛查詢
                            </div>
                            <div class="col-md-3">
                                <input class="form-control" type="text" name="CarNo" id="CarNo" value="@CarNo" />

                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-2">
                                服務據點
                            </div>
                            <div class="col-md-3">
                                <input class="form-control" type="text" name="StationID" id="StationID" value="@StationID" />

                            </div>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-2">
                                顯示方式
                            </div>
                            <div class="col-md-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="ShowType" id="ShowUnRent" value="1" @ShowType[1]>
                                    <label class="form-check-label" for="ShowUnRent">
                                        可出租
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="ShowType" id="ShowRent" value="0" @ShowType[0]>
                                    <label class="form-check-label" for="ShowRent">
                                        出租中
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="ShowType" id="ShowWait" value="2" @ShowType[2]>
                                    <label class="form-check-label" for="ShowWait">
                                        待上線
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="ShowType" id="ShowAll" value="3" @ShowType[3]>
                                    <label class="form-check-label" for="ShowAll">
                                        不限
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3 offset-md-2">
                                <button type="submit" id="btnSend" name="btnSend" class="btn btn-primary">查詢</button>
                                <button type="submit" id="isExport" name="isExport" class="btn btn-primary ml-2" value="true">匯出</button>
                                @*<input type="hidden" id="len" name="len" value="@ResultLen" />*@
                                <input type="hidden" id="len" name="len" value="@ResultLen" />
                                <input type="hidden" id="Account" name="Account" value="@((Session["Account"] == null) ? "" : Session["Account"].ToString())" />
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        }
    </div>
    <!--end card-->
</div>
@using (Html.BeginForm("ViewCarDetail", "CarDataInfo", FormMethod.Post, new { id = "frmCarDetail", @class = "form-horizontal" }))
{
    <input type="hidden" name="ShowCarNo" id="ShowCarNo" value="" />
}
    <!--查詢介面結束-->
    <!--輸出表格-->
    <div class="container mt-4">
        <table class="table bg-white footable" data-filter="#filter" id="list" data-paging="true" data-limit-navigation="10">
            <thead class="text-white bg-primary">
                <tr>
                    <th data-sort-ignore="true"></th>
                    <th scope="col" data-type="numeric">ID</th>
                    <th scope="col">車號</th>
                    <th scope="col">車型</th>
                    <th scope="col">營運狀態</th>
                    <th scope="col">CID</th>
                    <th scope="col">目前庫位</th>
                    <th scope="col">下線原因</th>
                    <th scope="col">所屬庫位</th>
                    <th scope="col">備註</th>
                    <th scope="col">上/下線時間</th>
                    <th scope="col">操作者帳號</th>
                    <th data-sort-ignore="true">資訊</th>
                </tr>
            </thead>
            <tbody>
                @if (ResultLen > 0)
                {
                    for (int i = 0; i < ResultLen; i++)
                    {
                        lstData[i].CarNo = lstData[i].CarNo.Replace(" ", "");
                        string NowStr = "出租中";
                        string SettingOnline = "";
                        string HasDisabled = " disabled ";
                        int Cmd = 0;
                        if (lstData[i].NowStatus == 1)
                        {
                            NowStr = "可出租";
                            SettingOnline = "下線";
                            Cmd = 2;
                            HasDisabled = "";
                        }
                        else if (lstData[i].NowStatus == 2)
                        {
                            NowStr = "待上線";
                            SettingOnline = "上線";
                            Cmd = 1;
                            HasDisabled = "";
                        }
                        else if (lstData[i].NowStatus == 0)
                        {
                            NowStr = "出租中";
                            SettingOnline = "上線";
                            Cmd = 1;
                            HasDisabled = "";
                        }
                        <tr>
                            <td></td>
                            <td scope="row">@(i + 1)</td>
                            <td scope="col">@(lstData[i].CarNo)</td>
                            <td scope="col">@(lstData[i].CarTypeName)</td>
                            <td scope="col">
                                @(NowStr)
                            </td>
                            <td scope="col">@(lstData[i].CID)</td>
                            <td scope="col">@(lstData[i].NowStationName)</td>
                            @if (lstData[i].NowStatus == 1 || lstData[i].NowStatus == 0)
                            {
                                <td>
                                    -
                                    <select class="custom-select" id="Select_@(lstData[i].CarNo)" name="Select_@(lstData[i].CarNo)" onchange="EditMemo('@(lstData[i].CarNo)')" style="display:none">
                                        <option selected value="1">事故維修</option>
                                        <option value="2">車況異常</option>
                                        <option value="3">保養驗車</option>
                                        <option value="4">其他</option>
                                    </select>
                                </td>
                            }
                            else
                            {
                                <td>@lstData[i].OfflineReason</td>                                    
                            }
                            <td scope="col">@(lstData[i].StationName)</td>
                            <td scope="col">
                                @(lstData[i].Memo)
                                <input type="text" name="Memo_@(lstData[i].CarNo)" id="Memo_@(lstData[i].CarNo)" value="@lstData[i].Memo" class="form-control" style="display:none" />
                            </td>
                            <td>@lstData[i].UPDTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                            <td>@(lstData[i].UserNo + Environment.NewLine + lstData[i].UserName)</td>
                            <td scope="col">
                                <Button type="button" id="btnShow_@(lstData[i].CarNo)" name="btnShow_@(lstData[i].CarNo)" class="btn btn-outline-secondary" onclick="ShowDetail('@(lstData[i].CarNo)')">基本資料</Button>
                                <button type="button" id="btnSettingOnline_@(lstData[i].CarNo)" name="btnSettingOnline_@(lstData[i].CarNo)" class="btn btn-outline-secondary" onclick="CarOffline('@(lstData[i].CarNo)')">@(SettingOnline)</button>
                                <Button type="button" id="Chk_btnSettingOnline_@(lstData[i].CarNo)" name="Chk_btnSettingOnline_@(lstData[i].CarNo)" class="btn btn-outline-secondary" @(HasDisabled) onclick="SetOnline('@(lstData[i].CarNo)',@(Cmd))" style="display:none">確認@(SettingOnline)</Button>
                                @*設定備註用
                                <Button type="button" id="btnEdit_@(lstData[i].CarNo)" name="btnEdit_@(lstData[i].CarNo)" class="btn btn-outline-secondary" onclick="DoEdit('@(lstData[i].CarNo)')">設定備註</Button>
                                <Button type="button" id="btnSave_@(lstData[i].CarNo)" name="btnSave_@(lstData[i].CarNo)" class="btn btn-outline-secondary" style="display:none" onclick="DoSave('@(lstData[i].CarNo)')">儲存</Button>
                                <Button type="button" id="btnReset_@(lstData[i].CarNo)" name="btnReset_@(lstData[i].CarNo)" class="btn btn-outline-secondary" style="display:none" onclick="DoReset('@(lstData[i].CarNo)')">取消</Button>
                                設定備註用結束*@

                            </td>
                        </tr>
                    }

                }
                else
                {
                    <tr>
                        <td colspan="10">查無資料</td>
                    </tr>
                }
            </tbody>
            <tfoot class="hide-if-no-paging">
                <tr>
                    <td colspan="10" class="text-center">
                        <ul class="pagination"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <!--輸出表格結束-->
