@model IEnumerable<Domain.TB.BackEnd.BE_CarBindImportDataResult>
@{
    int ResultLen = 0;
    List<Domain.TB.BackEnd.BE_CarBindImportDataResult> lstData = null;
    if (Model != null)
    {
        lstData = new List<Domain.TB.BackEnd.BE_CarBindImportDataResult>();
        lstData = Model.ToList();
        ResultLen = lstData.Count;
    }
}
<!--查詢介面-->
<div class="container mt-4">
    <!--card start-->
    <div class="card">
        <div class="card-header bg-secondary text-white">
            匯入車機綁定資料
        </div>
        <form method="post" id="frmImportCarBindData" action="@Url.Action("ImportCarBindData")" enctype="multipart/form-data">
            <ul class="list-group list-group-flush">
                <!--每一個li是一項查詢條件-->

                <li class="list-group-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-2">
                                匯入車機綁定資料
                            </div>

                            <div class="col-md-6">
                                <input type="file" class="jfilestyle" accept=".xlsx,.xls" placeholder="請上傳excel檔案" data-theme="blue" id="fileImport" name="fileImport" data-inputSize="" data-text="上傳檔案">
                                <button type="button" id="exampleDownload" name="exampleDownload" class="btn btn-primary">範例檔案下載</button>
                            </div>

                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3 offset-md-2">
                                <button type="button" id="btnSend" name="btnSend" class="btn btn-primary">確認送出</button>
                                <button type="button" class="btn btn-outline-secondary btn-clear" onclick="location.href = '@Url.Action("ImportCarBindData")'">清除</button>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-2">
                                說明
                            </div>
                            <div class="col-md-10">
                                <ul style="line-height: normal">
                                    <li>請下載[範例檔案]編輯。</li>
                                    <li>[車號]與[車機編號]必填。</li>
                                    <li>[iButton]依車輛設定資料檢核是否必填。</li>
                                    <li>[車號]與[車機編號]綁定後，其他[車號]若使用相同[車機編號]，則其他[車號]的[車機編號]將清空。</li>
                                </ul>
                            </div>
                        </div>
                        </div>
</li>
            </ul>
        </form>
    </div>
    <!--end card-->
</div>
<!--查詢介面結束-->
<!--輸出表格-->
@if (ResultLen > 0)
{
<div class="container mt-4">
    <div class="card">
        <div class="card-header  text-white" style="background-color: #9fa4ac;">
            匯入結果
        </div>
    </div>
    <div>
        <table class="table table-striped bg-white mt-4 " data-limit-navigation="5">
            <thead class="text-white bg-primary">
                <tr>
                    <th data-sort-ignore="true">
                    </th>
                    <th scope="col">車號</th>
                    <th scope="col">車機編號</th>
                    <th scope="col">執行結果</th>
                    <th scope="col">訊息</th>
                </tr>
            </thead>
            <tbody>
                @if (ResultLen == 0)
                {
                    <tr>
                        <td colspan="12" class="text-center">
                            無匯入資料
                        </td>
                    </tr>
                }
                else
                {
                    for (int i = 0; i < ResultLen; i++)
                    {
                        <tr>
                            <td data-sort="false"></td>
                            <td scope="col">@(lstData[i].CarNo)</td>
                            <td scope="col">@(lstData[i].CID)</td>
                            <td scope="col">@(lstData[i].Result ? "成功" : "失敗")</td>
                            <td scope="col">@(lstData[i].Result ? "" : lstData[i].Message)</td>
                        </tr>
                    }

                }

            </tbody>
            <tfoot class="hide-if-no-paging">
                <tr>
                    <td colspan="8" class="text-center">
                        <ul class="pagination"></ul>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
}
<script>
    var ResultLen = @ResultLen;
    var errorLine = '@((ViewData["errorLine"]==null)?"": ViewData["errorLine"].ToString())';
    var errorMsg = '@((ViewData["errorMsg"] == null)?"" : ViewData["errorMsg"].ToString())';
</script>
<!--輸出表格結束-->