@model IEnumerable<Domain.TB.BackEnd.BE_GetFuncGroup>
@{

    List<Domain.TB.BackEnd.BE_GetFuncGroup> lstData = null;
    string FuncGroupID = (ViewData["FuncGroupID"] == null) ? "" : ViewData["FuncGroupID"].ToString();
    string FuncGroupName = (ViewData["FuncGroupName"] == null) ? "" : ViewData["FuncGroupName"].ToString();
    string SDate = (ViewData["StartDate"] == null) ? "" : ViewData["StartDate"].ToString();
    string EDate = (ViewData["EndDate"] == null) ? "" : ViewData["EndDate"].ToString();
    string Mode = (ViewData["Mode"] == null) ? "" : ViewData["Mode"].ToString();
    string UserName= (ViewData["UserName"] == null) ? "" : ViewData["UserName"].ToString();
    string UserPWD=(ViewData["UserPWD"]==null)?"" : ViewData["UserPWD"].ToString();
    string UserAccount = (ViewData["UserAccount"] == null) ? "" : ViewData["UserAccount"].ToString();
    int SEQNO = ((ViewData["UserGroup"] == null) ? 0 : Convert.ToInt32(ViewData["UserGroup"].ToString()));
    int OperatorID = ((ViewData["OperatorID"] == null) ? 0 : Convert.ToInt32(ViewData["OperatorID"].ToString()));
    bool hasPower = false;

    int ResultLen = -1;
    if (Mode == "Edit")
    {
        if (Model != null)
        {
            lstData = Model.ToList();
            ResultLen = lstData.Count;
        }
    }
}
<!--查詢介面-->
<div class="container mt-4">
    <!--card start-->
    <div class="card">
        <div class="card-header bg-secondary text-white">
            使用者維護
        </div>

        @using (Html.BeginForm("UserMaintain", "AccountManage", FormMethod.Post, new { id = "frmUserMaintain", @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
    <ul class="list-group list-group-flush">
        <!--每一個li是一項查詢條件-->
        <li class="list-group-item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                        處理區分
                    </div>
                    <div class="col-md-3">
                        @Html.Action("GetHandleList", "CommonObj")
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                        業者別
                    </div>
                    <div class="col-md-3">
                        @Html.Action("GetOperatorList", "CommonObj", new { SEQNO = OperatorID })
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                        使用者群組
                    </div>
                    <div class="col-md-3">
                        @Html.Action("GetUserGroupList", "CommonObj", new { SEQNO = SEQNO, OperatorID = OperatorID })

                    </div>


                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                        員工編號
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" type="text" name="UserAccount" id="UserAccount" value="@UserAccount" />

                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                        員工名稱
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" type="text" name="UserName" id="UserName" value="@UserName" />

                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                        密碼
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" type="text" name="UserPWD" id="UserPWD" value="@UserPWD" />

                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                        有效起迄日
                    </div>
                    <div class="col-md-3">
                        <!-- datepicker -->
                        <div class="custom-datepicker">
                            <input class="datePicker form-control" type="text" id="StartDate" name="StartDate" value="@SDate" readonly="false">
                            <svg width="22" height="22" viewBox="0 0 22 22">
                                <g transform="translate(0 3)" fill="#fff" stroke="#9fa4ac" stroke-width="1">
                                    <rect width="22" height="19" rx="3" stroke="none" />
                                    <rect x="0.5" y="0.5" width="21" height="18" rx="2.5" fill="none" />
                                </g>
                                <g transform="translate(0 3)" fill="#9fa4ac" stroke="#9fa4ac" stroke-width="1">
                                    <path d="M3,0H19a3,3,0,0,1,3,3V6a0,0,0,0,1,0,0H0A0,0,0,0,1,0,6V3A3,3,0,0,1,3,0Z" stroke="none" />
                                    <path d="M3,.5H19A2.5,2.5,0,0,1,21.5,3V5a.5.5,0,0,1-.5.5H1A.5.5,0,0,1,.5,5V3A2.5,2.5,0,0,1,3,.5Z" fill="none" />
                                </g>
                                <g transform="translate(3.633 -0.005)">
                                    <rect id="Rectangle_37" data-name="Rectangle 37" width="2" height="8" rx="1" transform="translate(0.367 0.005)" fill="#9fa4ac" />
                                    <rect id="Rectangle_38" data-name="Rectangle 38" width="2" height="8" rx="1" transform="translate(11.367 0.005)" fill="#9fa4ac" />
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <!-- datepicker with time -->
                        <div class="custom-datepicker">
                            <input class="datePicker form-control" type="text" id="EndDate" name="EndDate" value="@EDate" readonly="false">
                            <svg width="22" height="22" viewBox="0 0 22 22">
                                <g transform="translate(0 3)" fill="#fff" stroke="#9fa4ac" stroke-width="1">
                                    <rect width="22" height="19" rx="3" stroke="none" />
                                    <rect x="0.5" y="0.5" width="21" height="18" rx="2.5" fill="none" />
                                </g>
                                <g transform="translate(0 3)" fill="#9fa4ac" stroke="#9fa4ac" stroke-width="1">
                                    <path d="M3,0H19a3,3,0,0,1,3,3V6a0,0,0,0,1,0,0H0A0,0,0,0,1,0,6V3A3,3,0,0,1,3,0Z" stroke="none" />
                                    <path d="M3,.5H19A2.5,2.5,0,0,1,21.5,3V5a.5.5,0,0,1-.5.5H1A.5.5,0,0,1,.5,5V3A2.5,2.5,0,0,1,3,.5Z" fill="none" />
                                </g>
                                <g transform="translate(3.633 -0.005)">
                                    <rect id="Rectangle_37" data-name="Rectangle 37" width="2" height="8" rx="1" transform="translate(0.367 0.005)" fill="#9fa4ac" />
                                    <rect id="Rectangle_38" data-name="Rectangle 38" width="2" height="8" rx="1" transform="translate(11.367 0.005)" fill="#9fa4ac" />
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item" id="liPower" name="liPower">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                        權限設定
                    </div>
                    <div class="col-md-2"> <button type="button" data-toggle="modal" data-target="#surrounding_modal" id="btnReview" class="btn btn-primary">檢視權限</button></div>
                    @*<div class="col-md-8">
                        <div class="row">
                            <Button type="button" id="btnSet" name="btnSet" class="btn btn-primary">全選</Button>
                        </div>
                        <div class="row">
                            @if (hasPower)
                            {
                                @Html.Action("GetPowerList", "CommonObj")
                            }
                            else
                            {
                                @Html.Action("GetDisablePowerList", "CommonObj")
                            }

                        </div>
                    </div>*@
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 offset-md-2">
                        <input type="hidden" id="Account" name="Account" value="@((Session["Account"] == null) ? "" : Session["Account"].ToString())" />
                        <input type="hidden" id="len" name="len" value="@(ResultLen)" />
                        <Button type="button" id="btnSend" name="btnSend" class="btn btn-primary">查詢</Button>
                        <Button type="button" id="btnReset" name="btnReset" class="btn btn-outline-secondary">取消</Button>
                    </div>
                </div>
            </div>
        </li>
    </ul>
        }
    </div>

    <!--end card-->
</div>
<div class="modal fade " id="surrounding_modal" tabindex="-1" role="dialog" data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                @if (hasPower)
                {
                    @Html.Action("GetPowerList", "CommonObj")
                }
                else
                {
                    @Html.Action("GetDisablePowerList", "CommonObj")
                }
            </div>
            <div class="modal-footer">
                @if (hasPower)
                {
                   <Button type="button" id="btnSet" name="btnSet" class="btn btn-primary">全選</Button>
                }
                
                <button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>
<!--查詢介面結束-->
<script>
    var Mode = '@Mode';
    var errorLine = '@((ViewData["errorLine"]==null)?"": ViewData["errorLine"].ToString())';
    var errorMsg = '@((ViewData["errorMsg"] == null)?"" : ViewData["errorMsg"].ToString())';
    var ResultDataLen = '@(ResultLen)';
    
</script>
