@model IEnumerable<Domain.TB.BackEnd.BE_GetBannerInfo>
@{
    //ViewBag.Title = "BannerSet";
    List<Domain.TB.BackEnd.BE_GetBannerInfo> lstData = null;
    string banner = (ViewData["Banner"] == null) ? "" : ViewData["Banner"].ToString();
    int ResultLen = -1;

    if (Model != null)
    {
        lstData = Model.ToList();
        ResultLen = lstData.Count;
    }
}

<!--查詢介面-->
<div class="container mt-4">
    <!--card start-->
    <div class="card">
        <div class="card-header bg-secondary text-white">
            Banner資訊設定
        </div>
        <form method="post" id="frmBannerSetting" name="frmBannerSetting" action="@Url.Action("BannerSet")" enctype="multipart/form-data">
            <ul class="list-group list-group-flush">
                <!--每一個li是一項查詢條件-->
                <li class="list-group-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-2">
                                跑馬燈文字
                            </div>
                            <div class="col-md-3">
                                <input class="form-control" type="text" name="Banner" id="Banner" value="@banner" />
                                <span class="form-inline" id="BannerName" name="BannerName"></span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-2">
                                狀態
                            </div>
                            <div class="col-md-3">
                                <select id="Status" name="Status" class="form-control">
                                    <option value="3">全部</option>
                                    <option value="0">失效</option>
                                    <option value="1">有效</option>
                                    <option value="2">待生效</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-2">
                                順序
                            </div>
                            <div class="col-md-3">
                                <select id="Order" name="Order" class="form-control">
                                    <option value="0">全</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3 offset-md-2">
                                <button type="button" id="btnSend" name="btnSend" class="btn btn-primary">確定</button>
                                <button type="button" id="btnAdd" name="btnAdd" class="btn btn-outline-info">新增</button>
                                <input type="hidden" id="Account" name="Account" value="@((Session["Account"] == null) ? "" : Session["Account"].ToString())" />
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </form>
    </div>
    <!--end card-->
</div>
<!--查詢介面結束-->
<!--輸出表格-->
<div class="container mt-4">
    <table class="table table-striped bg-white mt-4" data-limit-navigation="6">
        <thead class="text-white bg-primary">
            <tr>
                @*<th scope="col" data-type="numeric"></th>*@
                <th scope="col" data-sort>順序</th>
                <th scope="col">圖片預覽</th>
                <th scope="col">跑馬燈文字</th>
                <th scope="col">起始時間</th>
                <th scope="col">到期時間</th>
                <th scope="col">狀態</th>
                <th scope="col" data-sort-ignore="true"></th>
            </tr>
        </thead>
        <tbody>
            @{
                if (ResultLen == 0)
                {
                    <tr>
                        <td colspan="10">查無結果</td>
                    </tr>
                }
                else
                {
                    for (int i = 0; i < ResultLen; i++)
                    {
                        <tr>
                            @*<th scope="col">@(i+1)</th>*@
                            <td scope="row">@(lstData[i].QUEUE)
                                <select class="form-control" style="display:none;width:70px" name="Queue_@(lstData[i].SEQNO)" id="Queue_@(lstData[i].SEQNO)">
                                    <option value="1" selected>1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                            </td>
                            @*<th scope="col">@(lstData[i].URL)</th>*@
                            <td scope="col">
                                <a href="@(lstData[i].URL)" target="_blank"><img src="@("https://irentv2data.blob.core.windows.net/banner/"+lstData[i].PIC_NAME)" class="img-thumbnail" style="max-width: 80%" /></a>
                            </td>
                            <td scope="col">@(lstData[i].MarqueeText)</td>
                            <td scope="col">@(lstData[i].STARTDATE)</td>
                            <td scope="col">@(lstData[i].ENDDATE)</td>
                            @{ 
                                if (lstData[i].Status == "失效") 
                                { 
                                    <td scope="col" style="color:red">@(lstData[i].Status)</td>
                                }
                                else if (lstData[i].Status == "有效")
                                {
                                    <td scope="col" style="color:green">@(lstData[i].Status)</td>
                                }
                                else
                                {
                                    <td scope="col" style="color:orange">@(lstData[i].Status)</td>
                                }
                            }
                            <td scope="col">
                                <button class="btn btn-outline-info" id="btn_@(lstData[i].SEQNO)" name="btn_@(lstData[i].SEQNO)" onclick="goMaintain('@(lstData[i].SEQNO)')">詳細設定</button>
                                <Button type="button" id="btnEdit_@(lstData[i].SEQNO)" name="btnEdit_@(lstData[i].SEQNO)" class="btn btn-outline-secondary" onclick="DoEdit('@(lstData[i].SEQNO)');">修改</Button>
                                <Button type="button" id="btnSave_@(lstData[i].SEQNO)" name="btnSave_@(lstData[i].SEQNO)" class="btn btn-outline-secondary" style="display:none" onclick="DoSave('@(lstData[i].SEQNO)');">儲存</Button>
                                <Button type="button" id="btnReset_@(lstData[i].SEQNO)" name="btnReset_@(lstData[i].SEQNO)" class="btn btn-outline-secondary" style="display:none" onclick="DoReset('@(lstData[i].SEQNO)');">取消</Button>
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
        <tfoot class="hide-if-no-paging">
            <tr>
                <td colspan="10" class="text-center">
                    <ul class="pagination"></ul>
                </td>
            </tr>
        </tfoot>
    </table>
    <form method="post" id="frmBannerMaintain" name="frmBannerMaintain" action="@Url.Action("BannerInfoMaintain")" enctype="multipart/form-data">
        <input type="hidden" id="MaintainBanner" name="MaintainBanner" value="" />
    </form>
</div>
<!--輸出表格結束-->
<!--javascript 初始-->
<script>
    //var SEQNO = '@banner';
    //console.log('qqddd:' + SEQNO)
    var errorLine = '@((ViewData["errorLine"]==null)?"": ViewData["errorLine"].ToString())';
    var errorMsg = '@((ViewData["errorMsg"] == null)?"" : ViewData["errorMsg"].ToString())';
    var ResultDataLen = '@(ResultLen)';

</script>

