@model IEnumerable<Domain.TB.News>
@{

    List<Domain.TB.News> lstNewsData = null;
    int NewsID = 0;
    string Title = "";
    string Content = "";
    string SD = "";
    string ED = "";
    string url = "";
    string SDT = "00:00:00";
    string EDT = "00:00:00";
    string btnTitle = "確定新增";
    int newsType = 0;
    int newsClass = 0;
    int ResultLen = 0;
    int Mode = 0;
    string isTop = "0";
    if (null != Model)
    {
        ResultLen = Model.Count();
        lstNewsData = Model.ToList<Domain.TB.News>();
        NewsID = lstNewsData[0].NewsID;
        Title = lstNewsData[0].Title;
        Content = lstNewsData[0].Content;
        SD = lstNewsData[0].SD.ToString("yyyy/MM/dd");
        SDT = lstNewsData[0].SD.ToString("HH:mm:ss");
        ED = lstNewsData[0].ED.ToString("yyyy/MM/dd");
        EDT = lstNewsData[0].ED.ToString("HH:mm:ss");
        url = lstNewsData[0].URL;
        newsType = lstNewsData[0].NewsType;
        btnTitle = "確定修改";
        Mode = 1;
        isTop = lstNewsData[0].isTop;
        newsClass = lstNewsData[0].NewsClass;
    }
}
<!--查詢介面-->
<div class="container mt-4">
    <!--card start-->
    <div class="card">
        <div class="card-header bg-secondary text-white">
            推播設定
        </div>
        @using (Html.BeginForm("NewsManage", "News", FormMethod.Post, new { id = "frmNews", name = "frmNews", @class = "form-horizontal" }))
        {
    <ul class="list-group list-group-flush">
        <!--每一個li是一項查詢條件-->
        <li class="list-group-item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                        <span style="color:red">*</span>顯示方式
                    </div>
                    <div class="col-md-8">
                       
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="qclass" value="1" id="Type1" @(newsClass == 1 ? "checked" : "")>
                                <label class="form-check-label" for="Type1">
                                    和雲
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="qclass" value="2" id="Type2" @(newsClass == 2 ? "checked" : "")>
                                <label class="form-check-label" for="Type2">
                                    系統
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="qclass" value="3" id="Type3" @(newsClass == 3 ? "checked" : "")>
                                <label class="form-check-label" for="Type3">
                                    活動
                                </label>

                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="qclass" value="4" id="Type4" @(newsClass == 4 ? "checked" : "")>
                                <label class="form-check-label" for="Type4">
                                    優惠
                                </label>

                            </div>
                        </div>
                    
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                        <span style="color:red">*</span>標題
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" type="text" name="Title" id="Title" value="@Title" />
                    </div>
                    <div class="col-md-3">
                        <span style="color:red">
                            * 若在七天內則會有NEW字樣
                        </span>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                        <span style="color:red">*</span>發送類型
                    </div>
                    <div class="col-md-3">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="qtype" value="0" id="ShowNormal" @(newsType == 0 ? "checked" : "")>
                            <label class="form-check-label" for="ShowNormal">
                                一般訊息
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="qtype" id="ShowEDM" value="1" @(newsType == 1 ? "checked" : "")>
                            <label class="form-check-label" for="ShowEDM">
                                優惠EDM
                            </label>
                        </div>
                    </div>

                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                        <span style="color:red">*</span>公布起迄日期
                    </div>
                    <div class="col-md-3">
                        <!-- datepicker -->
                        <div class="custom-datepicker">
                            <input class="dateTimePicker form-control" type="text" id="StartDate" name="StartDate" value="@SD" readonly="false">
                            <svg width="22" height="22" viewBox="0 0 22 22">
                                <g transform="translate(0 3)" fill="#fff" stroke="#9fa4ac" stroke-width="1">
                                    <rect width="22" height="19" rx="3" stroke="none" />
                                    <rect x="0.5" y="0.5" width="21" height="18" rx="2.5" fill="none" />
                                </g>
                                <g transform="translate(0 3)" fill="#9fa4ac" stroke="#9fa4ac" stroke-width="1">
                                    <path d="M3,0H19a3,3,0,0,1,3,3V6a0,0,0,0,1,0,0H0A0,0,0,0,1,0,6V3A3,3,0,0,1,3,0Z" stroke="none" />
                                    <path d="M3,.5H19A2.5,2.5,0,0,1,21.5,3V5a.5.5,0,0,1-.5.5H1A.5.5,0,0,1,.5,5V3A2.5,2.5,0,0,1,3,.5Z" fill="none" />
                                </g>
                                <g transform="translate(3.633 -0.005)">
                                    <rect id="Rectangle_37" data-name="Rectangle 37" width="2" height="8" rx="1" transform="translate(0.367 0.005)" fill="#9fa4ac" />
                                    <rect id="Rectangle_38" data-name="Rectangle 38" width="2" height="8" rx="1" transform="translate(11.367 0.005)" fill="#9fa4ac" />
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <!-- datepicker with time -->
                        <div class="custom-datepicker">
                            <input class="dateTimePicker form-control" type="text" id="EndDate" name="EndDate" value="@ED" readonly="false">
                            <svg width="22" height="22" viewBox="0 0 22 22">
                                <g transform="translate(0 3)" fill="#fff" stroke="#9fa4ac" stroke-width="1">
                                    <rect width="22" height="19" rx="3" stroke="none" />
                                    <rect x="0.5" y="0.5" width="21" height="18" rx="2.5" fill="none" />
                                </g>
                                <g transform="translate(0 3)" fill="#9fa4ac" stroke="#9fa4ac" stroke-width="1">
                                    <path d="M3,0H19a3,3,0,0,1,3,3V6a0,0,0,0,1,0,0H0A0,0,0,0,1,0,6V3A3,3,0,0,1,3,0Z" stroke="none" />
                                    <path d="M3,.5H19A2.5,2.5,0,0,1,21.5,3V5a.5.5,0,0,1-.5.5H1A.5.5,0,0,1,.5,5V3A2.5,2.5,0,0,1,3,.5Z" fill="none" />
                                </g>
                                <g transform="translate(3.633 -0.005)">
                                    <rect id="Rectangle_37" data-name="Rectangle 37" width="2" height="8" rx="1" transform="translate(0.367 0.005)" fill="#9fa4ac" />
                                    <rect id="Rectangle_38" data-name="Rectangle 38" width="2" height="8" rx="1" transform="translate(11.367 0.005)" fill="#9fa4ac" />
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                        <span style="color:red">*</span>內容
                    </div>
                    <div class="col-md-8">
                        <input class="form-control" type="text" id="Content" name="Content" value="@Content">
                    </div>


                </div>
            </div>
        </li>
        <li class="list-group-item" id="editor">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                        <span style="color:red">*</span>EDM網址
                    </div>
                    <div class="col-md-8">
                        <input class="form-control" type="text" id="url" name="url" value="@url">
                    </div>


                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                        置頂
                    </div>
                    <div class="col-md-3">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="betop" id="TopNo" value="0" @(isTop == "0" ? "checked" : "")>
                            <label class="form-check-label" for="TopNo">
                                否
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="betop" id="TopYes" value="1" @(isTop == "1" ? "checked" : "")>
                            <label class="form-check-label" for="TopYes">
                                是
                            </label>
                        </div>
                    </div>

                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 offset-md-2">

                        <input type="hidden" id="Account" name="Account" value="@((Session["Account"] == null) ? "" : Session["Account"].ToString())" />
                       
                        <input type="hidden" id="Mode" name="Mode" value="@Mode" />
                        <input type="hidden" id="NewsID" name="NewsID" value="@NewsID" />
                        <button type="button" id="btnSave" class="btn btn-primary">@btnTitle</button>

                    </div>
                </div>
            </div>
        </li>
    </ul>
        }
    </div>
    <!--end card-->
</div>
<!--查詢介面結束-->

<div class="container mt-4" id="ShowSetCardPanel">
    <table class="table bg-white" data-limit-navigation="5">
        <thead class="text-white bg-primary">
            <tr>
                <th data-sort-ignore="true"></th>
                <th scope="col">類別</th>
                <th scope="col">標題</th>
                <th scope="col">發送類型</th>
                <th scope="col">公布起迄日期</th>
                <th scope="col" data-hide="all">內容</th>
                <th scope="col"  data-hide="all">網址</th>
                <th scope="col">置頂</th>

                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @Html.Action("NewsList")
        </tbody>
        <tfoot class="hide-if-no-paging">
            <tr>
                <td colspan="9" class="text-center">
                    <ul class="pagination"></ul>
                </td>
            </tr>
        </tfoot>
    </table>
</div>