@model IEnumerable<Domain.TB.BackEnd.BE_QueryOrderMachiParkData>
@{
    List<Domain.TB.BackEnd.BE_QueryOrderMachiParkData> lstDetail = null;
    int len = 0;
    int total = 0;
    if (Model != null)
    {
        lstDetail = Model.ToList<Domain.TB.BackEnd.BE_QueryOrderMachiParkData>();
        len = lstDetail.Count();
    }
}
<!--查詢介面-->
<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-secondary text-white">
            進出停車場明細
        </div>
        <ul class="list-group list-group-flush">
            @using (Html.BeginForm("ParkingCheckInQuery", "Report", FormMethod.Post, new { id = "formParkingCheckInQuery", @class = "form-horizontal" }))
            {
                <li class="list-group-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-2">
                                訂單編號
                            </div>
                            <div class="col-md-3">
                                <input class="form-control" type="text" name="OrderNo" id="OrderNo" value="@((ViewData["OrderNo"]==null) ? "" : ViewData["OrderNo"].ToString())" />
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3 offset-md-2">
                                <input type="hidden" id="Account" name="Account" value="@((Session["Account"] == null) ? "" : Session["Account"].ToString())" />
                                <input type="hidden" id="len" name="len" value="@len" />
                                <button type="submit" name="btnSend" id="btnSend" class="btn btn-primary">確認送出</button>
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
    <!--end card-->
</div>
<!--查詢介面結束-->
<!--輸出表格-->
<div class="container mt-4" id="ShowSetCardPanel">
    <table class="table bg-white" data-limit-navigation="5">
        <thead class="text-white bg-primary">
            <tr>
                <th>停車場名稱</th>
                <th>停車場地址</th>
                <th>代收停車費</th>
                <th>入場時間</th>
                <th>出場時間</th>
            </tr>
        </thead>
        <tbody>
            @if (len == 0)
            {
                <tr>
                    <td colspan="5">查無結果</td>
                </tr>
            }
            else
            {
                for (int i = 0; i < len; i++)
                {
                    total += lstDetail[i].Amount;
                    <tr>
                        <td>@lstDetail[i].Name</td>
                        <td>@lstDetail[i].addr</td>
                        <td>@lstDetail[i].Amount</td>
                        <td>@lstDetail[i].Check_in</td>
                        <td>@lstDetail[i].Check_out</td>
                    </tr>
                }
            }
            <tr><td>合計：@total 元</td></tr>
        </tbody>
    </table>
</div>
<div class="modal fade " id="surrounding_modal" tabindex="-1" role="dialog" data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img src="" name="ReviewImg" id="ReviewImg" class="thumbnails" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>