@model IEnumerable<Domain.TB.BackEnd.BE_GetEasyWalletList>

@{
    string IDNO = (ViewData["IDNO"] == null) ? "" : ViewData["IDNO"].ToString();
    string SDate = (ViewData["StartDate"] == null) ? "" : ViewData["StartDate"].ToString();
    string EDate = (ViewData["EndDate"] == null) ? "" : ViewData["EndDate"].ToString();
    int ResultLen = -1;
    List<Domain.TB.BackEnd.BE_GetEasyWalletList> lstData = null;
    if (Model != null)
    {
        lstData = new List<Domain.TB.BackEnd.BE_GetEasyWalletList>();
        lstData = Model.ToList();
        ResultLen = lstData.Count;
    }
}


<div class="container mt-4">
    <!--card start-->

    <div class="card">
        <div class="card-header text-white" style="background-color: #9fa4ac;">
            查詢條件
        </div>
        @using (Html.BeginForm("ReFund", "Report", FormMethod.Post, new { id = "frmEasyWallet", @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            <ul class="list-group list-group-flush">
                <!--每一個li是一項查詢條件-->

                <li class="list-group-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-2">
                                身份證 (查詢必要)
                            </div>
                            <div class="col-md-3">
                                <input class="form-control" type="text" name="IDNO" id="IDNO" value="@IDNO" />
                            </div>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-2">
                                退款金額
                            </div>
                            <div class="col-md-3">
                                <input class="form-control" type="text" name="refundAmount" id="refundAmount" />
                            </div>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-2">
                                退款原因
                            </div>
                            <div class="col-md-3">
                                <input class="form-control" type="text" name="refundReason" id="refundReason" />
                            </div>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-2">
                                orderNo
                            </div>
                            <div class="col-md-3">
                                <input class="form-control" type="text" name="orderNo" id="orderNo" />
                            </div>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-2">
                                客人名字
                            </div>
                            <div class="col-md-3">
                                <input class="form-control" type="text" name="NAME" id="NAME" />
                            </div>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-2">
                                merchantOrderNo
                            </div>
                            <div class="col-md-3">
                                <input class="form-control" type="text" name="merchantOrderNo" id="merchantOrderNo" />
                            </div>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-2">
                                點數方案名稱
                            </div>
                            <div class="col-md-3">
                                <input class="form-control" type="text" name="GIFTNAME" id="GIFTNAME" />
                            </div>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-2">
                                報表日期
                            </div>
                            <div class="col-md-3">
                                <!-- datepicker -->
                                <div class="custom-datepicker">
                                    <input class="datePicker form-control" type="text" id="StartDate" name="StartDate" value="@SDate" readonly="false">
                                    <svg width="22" height="22" viewBox="0 0 22 22">
                                        <g transform="translate(0 3)" fill="#fff" stroke="#9fa4ac" stroke-width="1">
                                            <rect width="22" height="19" rx="3" stroke="none" />
                                            <rect x="0.5" y="0.5" width="21" height="18" rx="2.5" fill="none" />
                                        </g>
                                        <g transform="translate(0 3)" fill="#9fa4ac" stroke="#9fa4ac" stroke-width="1">
                                            <path d="M3,0H19a3,3,0,0,1,3,3V6a0,0,0,0,1,0,0H0A0,0,0,0,1,0,6V3A3,3,0,0,1,3,0Z" stroke="none" />
                                            <path d="M3,.5H19A2.5,2.5,0,0,1,21.5,3V5a.5.5,0,0,1-.5.5H1A.5.5,0,0,1,.5,5V3A2.5,2.5,0,0,1,3,.5Z" fill="none" />
                                        </g>
                                        <g transform="translate(3.633 -0.005)">
                                            <rect id="Rectangle_37" data-name="Rectangle 37" width="2" height="8" rx="1" transform="translate(0.367 0.005)" fill="#9fa4ac" />
                                            <rect id="Rectangle_38" data-name="Rectangle 38" width="2" height="8" rx="1" transform="translate(11.367 0.005)" fill="#9fa4ac" />
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            -
                            <div class="col-md-3">
                                <!-- datepicker with time -->
                                <div class="custom-datepicker">
                                    <input class="datePicker form-control" type="text" id="EndDate" name="EndDate" value="@EDate" readonly="false">
                                    <svg width="22" height="22" viewBox="0 0 22 22">
                                        <g transform="translate(0 3)" fill="#fff" stroke="#9fa4ac" stroke-width="1">
                                            <rect width="22" height="19" rx="3" stroke="none" />
                                            <rect x="0.5" y="0.5" width="21" height="18" rx="2.5" fill="none" />
                                        </g>
                                        <g transform="translate(0 3)" fill="#9fa4ac" stroke="#9fa4ac" stroke-width="1">
                                            <path d="M3,0H19a3,3,0,0,1,3,3V6a0,0,0,0,1,0,0H0A0,0,0,0,1,0,6V3A3,3,0,0,1,3,0Z" stroke="none" />
                                            <path d="M3,.5H19A2.5,2.5,0,0,1,21.5,3V5a.5.5,0,0,1-.5.5H1A.5.5,0,0,1,.5,5V3A2.5,2.5,0,0,1,3,.5Z" fill="none" />
                                        </g>
                                        <g transform="translate(3.633 -0.005)">
                                            <rect id="Rectangle_37" data-name="Rectangle 37" width="2" height="8" rx="1" transform="translate(0.367 0.005)" fill="#9fa4ac" />
                                            <rect id="Rectangle_38" data-name="Rectangle 38" width="2" height="8" rx="1" transform="translate(11.367 0.005)" fill="#9fa4ac" />
                                        </g>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3 offset-md-2">
                                <button type="button" id="btnSubmit" class="btn btn-info">查詢</button>
                                <button type="button" id="btnSend" name="btnSend" class="btn btn-info">退款</button>
                                <button type="button" name="btnExplode" id="btnExplode" class="btn btn-info">報表資料匯出</button>
                                <!--<button type="button" id="btnSend_2" name="btnSend_2" class="btn btn-info">退款2</button>-->
                                <input type="hidden" id="Account" name="Account" value="@((Session["Account"] == null) ? "" : Session["Account"].ToString())" />
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        }
    </div>
    <!--end card-->
</div>

@using (Html.BeginForm("ExplodeReFund", "Report", FormMethod.Post, new { id = "frmReFundExplode" }))
{
    <input type="hidden" id="ExplodeSDate" name="ExplodeSDate" value="">
    <input type="hidden" id="ExplodeEDate" name="ExplodeEDate" value="">
}

<div class="container mt-4">
    <div class="card">
        <div class="card-header  text-white" style="background-color: #9fa4ac;">
            查詢結果
        </div>
    </div>
</div>
<!--輸出表格-->
<div class="container mt-4">
    <table class="table table-striped bg-white mt-4 " data-limit-navigation="5">
        <thead class="text-white bg-primary">
            <tr>
                <th data-sort-ignore="true">
                </th>
                <th scope="col">orderNo</th>
                <th scope="col">時數名稱</th>
                <th scope="col">時數金額</th>
                <th scope="col">身份證字號</th>
                <th scope="col">購買日</th>
                <th scope="col">到期日</th>
                <th scope="col">merchantOrderNo</th>
                <th scope="col">客人名字</th>
                <th scope="col">載入</th>
            </tr>
        </thead>
        <tbody>
            @if (ResultLen == 0)
            {
                <tr>
                    <td colspan="10" class="text-center">
                        查無結果
                    </td>
                </tr>
            }
            else
            {
                for (int i = 0; i < ResultLen; i++)
                {
                    <tr>
                        <td data-sort="false"></td>
                        <td scope="col" id=@("oNo_"+i.ToString())>@(lstData[i].orderNo)</td>
                        <td scope="col" id=@("pNa_"+i.ToString())>@(lstData[i].projectName)</td>
                        <td scope="col" id=@("Am_"+i.ToString())>@(lstData[i].orderAmount)</td>
                        <td scope="col" id=@("No_"+i.ToString())>@(lstData[i].IDNO)</td>
                        <td scope="col" id=@("Ti_"+i.ToString())>@(lstData[i].orderTime)</td>
                        <td scope="col" id=@("mNo_"+i.ToString())>@(lstData[i].merchantOrderNo)</td>
                        <td scope="col" id=@("mNa"+i.ToString())>@(lstData[i].MEMCNAME)</td>
                        <td scope="col"><button type="button" id=@("bt_"+i.ToString()) class="btn btn-info" onclick="DoLoad(@i);">載入</button></td>
                    </tr>
                }

            }

        </tbody>
        <tfoot class="hide-if-no-paging">
            <tr>
                <td colspan="8" class="text-center">
                    <ul class="pagination"></ul>
                </td>
            </tr>
        </tfoot>
    </table>
</div>