@model IEnumerable<Domain.TB.BackEnd.BE_GetEasyWalletList>

@{
    
    int ResultLen = -1;
    List<Domain.TB.BackEnd.BE_GetEasyWalletList> lstData = null;
    if (Model != null)
    {
        lstData = new List<Domain.TB.BackEnd.BE_GetEasyWalletList>();
        lstData = Model.ToList();
        ResultLen = lstData.Count;
    }
}


<div class="container mt-4">
    <!--card start-->

    <div class="card">
        <div class="card-header text-white" style="background-color: #9fa4ac;">
            查詢條件
        </div>
        @using (Html.BeginForm("ReFund", "Report", FormMethod.Post, new { id = "frmEasyWallet", @class = "form-horizontal", enctype = "multipart/form-data" }))
        {

            <ul class="list-group list-group-flush">
                <!--每一個li是一項查詢條件-->

                <li class="list-group-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-2">
                                身份證
                            </div>
                            <div class="col-md-3">
                                <input class="form-control" type="text" name="IDNO" id="IDNO" />
                            </div>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-2">
                                退款金額
                            </div>
                            <div class="col-md-3">
                                <input class="form-control" type="text" name="refundAmount" id="refundAmount" />
                            </div>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-2">
                                退款原因
                            </div>
                            <div class="col-md-3">
                                <input class="form-control" type="text" name="refundReason" id="refundReason" />
                            </div>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-2">
                                orderNo
                            </div>
                            <div class="col-md-3">
                                <input class="form-control" type="text" name="orderNo" id="orderNo" />
                            </div>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3 offset-md-2">
                                <button type="button" id="btnSubmit" class="btn btn-info">查詢</button>
                                <button type="button" id="btnSend" name="btnSend" class="btn btn-info">退款</button>
                                <input type="hidden" id="Account" name="Account" value="@((Session["Account"] == null) ? "" : Session["Account"].ToString())" />
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        }
     </div>
    <!--end card-->
</div>


<div class="container mt-4">
    <div class="card">
        <div class="card-header  text-white" style="background-color: #9fa4ac;">
            查詢結果
        </div>
    </div>
</div>
<!--輸出表格-->
<div class="container mt-4">
    <table class="table table-striped bg-white mt-4 " data-limit-navigation="5">
        <thead class="text-white bg-primary">
            <tr>
                <th data-sort-ignore="true">
                </th>
                <th scope="col">orderNo</th>
                <th scope="col">時數名稱</th>
                <th scope="col">身份證字號</th>
                <th scope="col">購買日期</th>
            </tr>
        </thead>
        <tbody>
            @if (ResultLen == 0)
            {
                <tr>
                    <td colspan="5" class="text-center">
                        查無結果
                    </td>
                </tr>
            }
            else
            {
                for (int i = 0; i < ResultLen; i++)
                {
                    <tr>
                        <td data-sort="false"></td>
                        <td scope="col">@(lstData[i].orderNo)</td>
                        <td scope="col">@(lstData[i].projectName)</td>
                        <td scope="col">@(lstData[i].IDNO)</td>
                        <td scope="col">@(lstData[i].orderTime)</td>
                    </tr>
                }

            }

        </tbody>
        <tfoot class="hide-if-no-paging">
            <tr>
                <td colspan="8" class="text-center">
                    <ul class="pagination"></ul>
                </td>
            </tr>
        </tfoot>
    </table>
</div>